<template>
	<div class="df-auth">
		<df-auth-login>
		</df-auth-login>
	</div>
</template>

<script>
import AuthLogin from './AuthLogin'

export default {
	components: {
		'df-auth-login': AuthLogin
	}
}
</script>

<style lang="scss">
.df-auth{
	height: 80%;
	width: 90%;
	background-image: url(~@/assets/login-bg.png);
	background-size: 300px;
	background-repeat: repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 18px;
	overflow: hidden;
	box-shadow: 3px 3px 15px rgba(black, 0.2);
	z-index: 1;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: radial-gradient(rgba(250, 182, 65, 0) 0%, rgba(228, 40, 103, .8) 100%);
		z-index: -1;
	}
}
</style>
