<template>
	<form novalidate class="df-auth-login md-elevation-4" @submit.prevent="onSubmit">
		<header class="df-auth-login__header md-elevation-2">
			<span class="md-title">
				{{ title }}
			</span>
			<span class="md-subheading">
				Lanches Corporativos
			</span>
		</header>
		<div class="df-auth-login__fieldset">
			<md-field>
				<label>Email</label>
				<md-input v-model="email"></md-input>
			</md-field>
			<md-field>
				<label>Senha</label>
				<md-input v-model="password" type="password"></md-input>
			</md-field>
		</div>
		<footer class="df-auth-login__footer">
			<md-button type="submit" class="md-primary md-raised">
				Entrar
			</md-button>
		</footer>
	</form>
</template>

<script>
export default {
	data: () => ({
		email: '',
		password: ''
	}),
	computed: {
		title () {
			return process.env.COMPANY_NAME
		}
	},
	methods: {
		onSubmit (event) {
			this.$store.dispatch('auth/login', {
				email: this.email,
				password: this.password
			})
				.then(token => {
					this.$router.push('/dashboard')
				})
		}
	}
}
</script>

<style lang="scss">
.df-auth-login{
	width: 350px;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	&__header{
		background: $c-primary;
		color: $c-black;
		padding: 20px 30px;
		.md-title{
			display: block;
		}
	}
	&__fieldset{
		padding: 20px 30px;
	}
	&__footer{
		padding: 0 30px 40px;
		.md-button{
			width: 100%;
			margin: 0;
		}
	}
}
</style>
