body:before{
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	z-index: 10;
	background-image: url(../img/dona-fruta-brand.png);
	background-size: 100% 100%;
	display: block;
}

#layout-mainmenu .toolbar-primary{
	padding-left: 50px;
}

@media screen and (max-width: 640px) {
	body:before{
		display: none;
	}
	#layout-mainmenu .toolbar-primary{
		padding-left: 0;
	}
}

.control-breadcrumb{
	display: none;
}

.tags-companies .checkbox{
	margin: 10px 0;
}

.tags-companies__buttons{
	margin-bottom: 20px;
}

.tags-companies__wrapper{
	margin-bottom: 20px;
}

.tags-companies__box{
	height: 180px;
	overflow-y: auto;
	border: 1px solid lightgray;
	padding: 0 10px;
	background: white;
}

.loading-indicator-container .oc-icon-trash-o{
	display: none;
}
