body{
	font-family: Arial;
}

.report{

}

.report table{
	width: 70%;
	margin: auto;
	border-collapse: collapse;
}

.report table th{
	font-size: 12px;
	text-transform: uppercase;
}

.report table td{
	font-size: 10px;
}

.report table td,
.report table th{
	border-top: 1px solid lightgray;
	padding: 6px 20px;
	text-align: center;
}

.report table th,
.report table tr:nth-child(even) td{
	background: rgba(0, 0, 0, 0.05);
}

.report table tr:last-child td{
	border-bottom: 1px solid lightgray;
}

.report table tr th:first-child,
.report table tr td:first-child{
	text-align: left;
}

.report table tr th:last-child,
.report table tr td:last-child{
	text-align: right;
}

.report table tr.report__total td{
	padding-bottom: 8px;
	padding-top: 8px;
	font-size: 11px;
}
.report table tr.report__total b{
	display: inline-block;
	padding: 5px 0;
}

.report-header{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding: 0 20px;
}

.report-header__title{
	font-size: 14px;
	text-align: left;
	text-transform: uppercase;
	margin: 20px 0;
}

.report-header__brand{
	float: left;
	width: 75px;
	flex-shrink: 0;
	margin-right: 20px;
}

.report-header__content{
	flex: 1;
}

.report-header__list{
	padding-left: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.report-header ul li{
	list-style: none;
	line-height: 130%;
	font-size: 12px;
}

.report-group{
	border-top: 2px dashed lightgray;
	padding: 5px;
}

.report-group__title{
	text-align: center;
	margin: 0 0 5px;
	font-size: 12px;
}

.report-group table tr:last-child td{
	border-bottom-width: 0;
	padding-bottom: 0;
	background: transparent;
}

.report-footer{
	padding: 40px 20px;
	display: flex;
	justify-content: flex-end;
}

.report-footer__sign{
	width: 300px;
	border-top: 1px solid black;
	text-align: center;
	margin: 50px 0px 10px 20px;
	padding-top: 10px;
}
