<div class="report-date form-group">
	<div data-control="balloon-selector" class="control-balloon-selector">
		<ul>
			<?php if (count($buttons) == 0 || array_search(0, $buttons) !== false): ?>
				<li data-value="0" class="<?= $active == 0 ? 'active' : '' ?>">Hoje</li>
			<?php endif ?>
			<?php if (count($buttons) == 0 || array_search(1, $buttons) !== false): ?>
				<li data-value="1" class="<?= $active == 1 ? 'active' : '' ?>">Amanhã</li>
			<?php endif ?>
			<?php if (count($buttons) == 0 || array_search(7, $buttons) !== false): ?>
				<li data-value="7" class="<?= $active == 7 ? 'active' : '' ?>">Semana Atual</li>
			<?php endif ?>
			<?php if (count($buttons) == 0 || array_search(14, $buttons) !== false): ?>
				<li data-value="14" class="<?= $active == 14 ? 'active' : '' ?>">Próxima Semana</li>
			<?php endif ?>
			<?php if (count($buttons) == 0 || array_search(30, $buttons) !== false): ?>
				<li data-value="30" class="<?= $active == 30 ? 'active' : '' ?>">Mês atual</li>
			<?php endif ?>
			<?php if (count($buttons) == 0 || array_search('range', $buttons) !== false): ?>
				<li data-value="range">Período</li>
			<?php endif ?>
		</ul>

		<input type="hidden" name="date-type" value="0" />
	</div>

	<div class="report-date__range">
		<label>Período</label>
		<div style="display: flex">
			<div data-control="datepicker" class="report-date__start w-200 m-r">
				<input
					type="text"
					class="form-control"
					placeholder="Início"
					data-datepicker
				/>

				<input
					type="hidden"
					name="date-start"
					value="<?php echo \Carbon\Carbon::now()->format('Y-m-d H:m:s') ?>"
					data-datetime-value
				/>
			</div>
			<div data-control="datepicker" class="report-date__end w-200">
				<input
					type="text"
					class="form-control"
					placeholder="Fim"
					data-datepicker
				/>

				<input
					type="hidden"
					name="date-end"
					value="<?php echo \Carbon\Carbon::now()->format('Y-m-d H:m:s') ?>"
					data-datetime-value
				/>
			</div>
		</div>
	</div>
</div>
