<template>
	<div class="df-scheduler">
		<df-scheduler-header
			:week="week"
		>
		</df-scheduler-header>

		<div class="df-scheduler__body">
			<div
				class="df-scheduler__category"
				v-for="(products, category) in menu"
				v-if="showCategory(products)"
				:key="category"
			>
				<df-scheduler-group
					:title="category"
				>
				</df-scheduler-group>

				<df-scheduler-product
					ref="items"
					v-for="(product, index) in products"
					v-if="!hide.includes(product.id)"
					:key="index"
					:product="product"
					:lock="lock"
					:disabled="disabled"
					:exceeded="exceeded"
					@update="onUpdate"
				>
				</df-scheduler-product>
			</div>
		</div>
	</div>
</template>

<script>
import moment from 'moment'
import SchedulerHeader from './SchedulerHeader'
import SchedulerProduct from './SchedulerProduct'
import SchedulerGroup from './SchedulerGroup'
import SchedulerToolbar from './SchedulerToolbar'
import { mapState } from 'vuex'

export default {
	components: {
		'df-scheduler-header': SchedulerHeader,
		'df-scheduler-product': SchedulerProduct,
		'df-scheduler-group': SchedulerGroup,
		'df-scheduler-toolbar': SchedulerToolbar
	},
	props: {
		menu: {
			type: Object,
			default: () => {}
		},
		orders: {
			type: Object,
			default: () => {}
		},
		disabled: {
			type: Boolean,
			default: false
		},
		hideEmpty: {
			type: Boolean,
			default: false
		},
		limit: {
			type: Number,
			default: 0
		}
	},
	data: () => ({
		total: 0,
		week: 0,
		broke: false,
		lock: [], // Day lock array
		hide: [], // Hide unwanted products
		exceeded: [],
		chunk: 'first',
		chunks: {
			first: {},
			last: {}
		}
	}),
	computed: {
		...mapState({
			scheduler: state => state.settings.scheduler
		})
	},
	mounted () {
		this.init()
	},
	methods: {
		init () {
			this.week = moment(Object.keys(this.orders)[0]).week()

			this.resetChunks()
			this.updateQuant()
			this.checkAdvanceDays()

			this.$emit('init', {
				split: Object.keys(this.chunks['last']).length > 0,
				total: this.getTotal(),
				first: this.getTotal('first'),
				last: this.getTotal('last')
			})
		},

		resetChunks () {
			this.lock = []

			// Reset values
			this.chunks = {
				first: {},
				last: {}
			}

			this.chunk = 'first'

			// Split days into chunks
			for (let day = 0; day <= 6; day++) {
				let month = moment(this.week, 'w')
						.add(day, 'days')
						.month(),
					chunk = month == moment(this.week, 'w')
						.month() ? 'first' : 'last'

				this.chunks[chunk][day] = 0

				if (chunk == 'last')
					this.lock.push(parseInt(day))
			}
		},

		updateChunk (day) {
			for (let name in this.chunks) {
				let days = this.chunks[name]

				// If the day was found in this chunk
				if (days[day] != undefined) {
					let total = 0

					this.$refs.items.forEach(component => {
						total += component.days[day] * component.product.price
					})

					this.chunks[name][day] = total
				}
			}
		},

		onUpdate (event) {
			let day = event.day

			this.updateChunk(day)
			this.checkLimit(day)

			// Emit total from the active chunk only
			this.$emit('update', this.getChunkTotal(this.chunk))
		},

		/*
		 * Get total from all or just one chunk
		 * @param {string} chunk|'first','last',null
		 * @return {float} total - The total value from the chunk
		 */
		getTotal (chunk) {
			let total = 0;

			switch (chunk) {
				case 'first':
				case 'last':
					total += this.getChunkTotal(chunk)
					break
				default:
					total += this.getChunkTotal('first')
					total += this.getChunkTotal('last')
					break
			}

			return total
		},

		/*
		 * Get total value from a chunk
		 * @param {string} name|'first','last'
		 * @return {float} total - The total value from the chunk
		 */
		getChunkTotal (name) {
			let total = 0,
				days = this.chunks[name]

			for (let day in days) {
				let value = days[day]

				total += value
			}

			return total
		},

		/*
		 * Toggle chunk
		 * @return {string} chunk - Active chunk
		 */
		toggleChunk () {
			this.lock = []

			// Invert lock array
			for (let day in this.chunks[this.chunk])
				this.lock.push(parseInt(day))

			this.checkAdvanceDays()

			// Toggles chunk
			if (this.chunk == 'first')
				this.chunk = 'last'
			else
				this.chunk = 'first'

			// Update total with the current chunk
			this.$emit('update', this.getChunkTotal(this.chunk))

			return this.chunk
		},

		/*
		 * Populate product quantities
		 */
		updateQuant () {
			// Reset hide array
			this.hide = []

			this.$refs.items.forEach(component => {
				let days = component.days,
					product = component.product,
					quant = 0

				for (let date in this.orders) {
					let order = this.orders[date],
						day = moment(date).weekday()

					days[day] = +order[product.id]
					quant += days[day]

					component.onUpdate(day)
				}

				if (this.hideEmpty && quant == 0)
					this.hide.push(product.id)
			})
		},

		checkAdvanceDays () {
			if (moment.today().week() == this.week) {
				for (let date in this.orders) {
					let order = this.orders[date],
						today = moment.today().weekday(),
						day = moment(date).weekday()

					if (day < today + this.scheduler.advance)
						this.lock.push(day)
				}
			}
		},

		checkLimit (day) {
			let total = this.chunks.first[day] || this.chunks.last[day]

			if (total) {
				let index = this.exceeded.indexOf(day)

				// If there's limit and total exceeded it add to exceed array
				// Otherwise remove from exceeded array if it exists
				if (this.limit > 0 && total > this.limit)
					index == -1 ? this.exceeded.push(day) : ''
				else
					index != -1 ? this.exceeded.splice(index, 1) : ''
			}
		},

		showCategory (products) {
			let hidden = []

			products.forEach(product => {
				if (this.hide.includes(product.id))
					hidden.push(product.id)
			})

			return hidden.length != products.length
		}
	}
}
</script>

<style lang="scss">
.df-scheduler{
	display: flex;
	flex-flow: column;
	&__column{
		&--sm{
			flex: 1;
			height: 36px;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&--md{
			width: 220px;
			padding-left: 16px;
			text-align: left;
		}
		&--total{
			text-align: left;
		}
		&--disabled{
			background-image: url('~@/assets/stripe-bg.png');
			background-repeat: repeat;
			background-attachment: fixed;
			cursor: not-allowed;
		}
		&--exceeded{
			background: rgba(red, .2);
		}
	}
	&__category{
		// margin-bottom: 10px;
	}
	&__body{
		flex: 1 100%;
		overflow: auto;
	}
	.df-scheduler-header{
		flex: 0 45px;
		position: relative;
		z-index: 1;
		// padding-right: 20px;
	}
	.df-scheduler-toolbar{
		flex: 0 64px;
	}
	.df-scheduler-product{
		border-bottom: 1px solid lightgray;
		&:last-child{
			border-bottom: 0;
		}
	}

	@include grid-media($smartphone-grid){
		.df-scheduler{
			&__column{
				&--value,
				&--quant,
				&--total{
					display: none;
				}
			}
		}
	}
}
</style>
