<template>
	<header class="df-scheduler-header md-elevation-3">
		<span class="df-scheduler__column--md">Produtos</span>

		<span class="df-scheduler__column--sm df-scheduler__column--value">
			Valor
		</span>

		<span
			v-for="(day, index) in scheduler.days"
			class="df-scheduler__column--sm"
		>
			<small class="df-scheduler-header__date">
				{{ dates[index] }}
			</small>
			<span class="df-scheduler-header__day">
				{{ weekday(day) }}
			</span>
		</span>

		<span class="df-scheduler__column--quant df-scheduler__column--sm">
			Quant
		</span>

		<span class="df-scheduler__column--total df-scheduler__column--sm">
			Total
		</span>
	</header>
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex'

export default {
	computed: {
		...mapState({
			scheduler: state => state.settings.scheduler
		})
	},
	props: {
		week: {
			type: Number,
			default: 0
		}
	},
	data: () => ({
		dates: []
	}),
	watch: {
		week (value) {
			this.dates = this.scheduler.days.map(day => {
				return moment(value, 'w')
					.add(day, 'days')
					.format('DD/MM')
			})
		}
	},
	methods: {
		weekday (day) {
			return moment(this.week, 'w')
				.add(day, 'days')
				.format('ddd')
		}
	}
}
</script>

<style lang="scss">
.df-scheduler-header{
	background: white;
	padding: 10px 16px 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	&__date{
		flex: 1 100%;
		text-align: center;
		font-weight: 400;
		font-size: 10px;
		line-height: 7px;
	}
	&__day{
		line-height: 7px;
	}
	.df-scheduler__column--sm{
		flex-flow: row wrap;
		justify-content: center;
	}
}
</style>
