<template>
	<div class="df-scheduler-select">
		<md-button class="df-scheduler-select__prev md-icon-button"
			:disabled="disabled"
			@click="previous"
		>
			<md-icon>
				arrow_back
			</md-icon>
		</md-button>

		<div class="df-scheduler-select__current">
			<span class="df-scheduler-select__week">
				Semana {{ month }}
			</span>
			<span class="df-scheduler-select__range">
				{{ begin }} – {{ end }}
			</span>
		</div>

		<md-button class="df-scheduler-select__next md-icon-button"
			:disabled="disabled"
			@click="next"
		>
			<md-icon>
				arrow_forward
			</md-icon>
		</md-button>
	</div>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'

export default {
	computed: {
		...mapGetters({
			week: 'order/getWeek'
		}),
		begin () {
			return moment(this.week, 'w').weekday(0).format('DD/MM')
		},
		end () {
			return moment(this.week, 'w').weekday(6).format('DD/MM')
		},
		month () {
			let month = moment(this.week, 'w').format('MMMM'),
				week = this.week - moment(this.week, 'w').startOf('month').week() + 1

			return `${week} (${month})`
		}
	},
	props: {
		disabled: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		previous () {
			if (this.week - 1 > 0)
				this.$emit('change', this.week - 1)
		},
		next () {
			let last = moment()
				.endOf('year')
				.subtract(1, 'weeks')
				.week()

			if (this.week + 1 <= last && !this.disabled)
				this.$emit('change', this.week + 1)
		}
	}
}
</script>

<style lang="scss">
.df-scheduler-select{
	display: flex;
	align-items: center;
	&__prev,
	&__next{
	
	}
	&__current{
		flex: 1 100%;
		text-align: center;
		span{
			display: block;
		}
	}
	&__week{
		font-size: 12px;
	}
	&__range{
		font-size: 16px;
	}
}
</style>
