<template>
	<md-toolbar class="df-scheduler-toolbar"
		:md-theme="purchased ? 'success' : 'default'"
		:class="{
			'md-primary': getAvailable() >= 0,
			'md-accent': getAvailable() < 0
		}"
	>
		<div class="md-toolbar-section-start">
			<span class="df-scheduler-toolbar__remaining">
				<small>Saldo disponível</small>
				<strong>
					{{ getAvailable() | money }}
				</strong>
			</span>
		</div>

		<span class="df-scheduler-toolbar__total">
			<small>Total da Semana</small>
			<strong>{{ total | money }}</strong>
		</span>

		<div class="md-toolbar-section-end">
			<md-button class="" @click="openDialog" v-if="!purchased && !disabled">
				<span v-if="split">Prosseguir</span>
				<span v-else-if="getAvailable() >= 0">Confirmar</span>
				<span v-else-if="getAvailable() < 0">Limite excedido</span>
			</md-button>
		</div>

		<md-dialog-confirm
			:md-active.sync="showEmpty"
			md-title="Atenção!"
			md-content="Nenhum produto foi selecionado, você deseja prosseguir?"
			md-confirm-text="Confirmar"
			md-cancel-text="Cancelar"
			@md-cancel="showEmpty = false"
			@md-confirm="showEmpty = false; showDialog = true"
		/>

		<md-dialog-confirm
			:md-active.sync="showDialog"
			md-title="Confirmar pedido semanal?"
			md-content="Ao confirmar o pedido, <b>não será possível altera-lo</b>. Caso deseje revisar algum dos ítens, será necessário entrar em contato com o usuário responsável."
			md-confirm-text="Confirmar"
			md-cancel-text="Cancelar"
			@md-cancel="showDialog = false"
			@md-confirm="submit($event); showDialog = false"
		/>
	</md-toolbar>
</template>

<script>
export default {
	props: {
		total: {
			type: Number|String,
			default: 0
		},
		available: {
			type: Number,
			default: 100
		},
		purchased: {
			type: Boolean,
			default: false
		},
		factor: {
			type: Number,
			default: 0
		},
		split: {
			type: Boolean,
			default: false
		},
		credit: {
			type: Number|String,
			default: 0
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},
	data: () => ({
		showDialog: false,
		showEmpty: false,
		initial: 0
	}),
	methods: {
		openDialog () {
			if (this.split)
				if (this.getAvailable() >= 0)
					return this.$emit('next')
				else
					return this.$store.commit('logger/error', {
						message: 'Limite excedido!'
					})

			if (this.total > 0) {
				if (this.getAvailable() >= 0)
					this.showDialog = true
				else
					this.$store.commit('logger/error', {
						message: 'Limite excedido!'
					})
			} else {
				this.showEmpty = true
			}
		},
		submit (event) {
			if (this.getAvailable() >= 0)
				this.$emit('submit', event)
		},
		getAvailable () {
			return this.purchased ? this.available :
				this.available + this.factor - this.total
		}
	}
}
</script>

<style lang="scss">
.df-scheduler-toolbar{
	&__total,
	&__remaining{
		small{
			display: block;
		}
	}
	&__remaining{
		//
	}
	&__total{
		text-align: center;
		small{
			font-size: 14px;
		}
		strong{
			font-size: 16px;
		}
	}
}
</style>
