<template>
	<div class="df-scheduler-group">
		{{ title }}
	</div>
</template>

<script>
export default {
	props: {
		title: String
	}
}
</script>

<style lang="scss">
.df-scheduler-group{
	text-align: center;
	padding: 5px;
	font-weight: 600;
	background: md-get-palette-color(pink, 400);
	color: white;
}
</style>
