<template>
	<div class="df-scheduler-product" :class="{
		'is-touched': total > 0 && !isDisabled(),
		'is-suspended': product.suspended || !product.show,
		'is-disabled': disabled
	}">
		<span class="df-scheduler__column--md">
			<md-button class="df-scheduler-product__name"
				@click="showDialog = true"
			>
				{{ product.name }}
			</md-button>
		</span>

		<span class="df-scheduler__column--sm df-scheduler__column--value">
			{{ product.price | money }}
		</span>

		<span class="df-scheduler-product__suspended"
			v-if="product.suspended || !product.show"
		>
			<span v-if="!product.show">
				Produto bloqueado.
			</span>
			<span v-else>
				Produto temporariamente indisponível.
			</span>
		</span>

		<span
			v-for="day in scheduler.days"
			class="df-scheduler__column--sm"
			:class="{
				'df-scheduler__column--disabled': isDisabled(day),
				'df-scheduler__column--exceeded': isExceeded(day)
			}"
		>
			<df-input-number
				v-model="days[day]"
				:buttons="scheduler.showArrows"
				:max="scheduler.max"
				:disabled="isDisabled(day)"
				@input="onUpdate(day)"
			>
			</df-input-number>
		</span>

		<span class="df-scheduler__column--quant df-scheduler__column--sm">
			{{ disabled && quant == 0 ? '–' : quant }}
		</span>

		<span class="df-scheduler__column--total df-scheduler__column--sm">
			{{ total | money }}
		</span>

		<md-dialog :md-active.sync="showDialog">
			<df-product-preview
				:name="product.name"
				:price="product.price"
				:calories="product.calories"
				:weight="250"
				:description="product.description"
				:thumbnail="product.thumbnail | media"
			>
			</df-product-preview>

			<md-dialog-actions>
				<md-button class="md-accent" @click="showDialog = false">Fechar</md-button>
			</md-dialog-actions>
		</md-dialog>
	</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import ProductPreview from '../product/ProductPreview'

export default {
	components: {
		'df-product-preview': ProductPreview
	},
	props: {
		product: {
			type: Object,
			default: () => {}
		},
		lock: {
			type: Array,
			default: () => []
		},
		disabled: {
			type: Boolean,
			default: false
		},
		exceeded: {
			type: Array,
			default: () => []
		}
	},
	data: () => ({
		days: {
			0: 0,
			1: 0,
			2: 0,
			3: 0,
			4: 0,
			5: 0,
			6: 0
		},
		old: 0,
		delta: 0,
		showDialog: false
	}),
	computed: {
		...mapState({
			scheduler: state => state.settings.scheduler
		}),
		...mapGetters({
			week: 'order/getWeek'
		}),
		quant () {
			let value = 0

			for (let day in this.days)
				value += this.days[day]

			return value
		},
		total () {
			return this.quant * this.product.price
		}
	},
	methods: {
		onUpdate (day) {
			let total = this.days[day] * this.product.price

			this.$emit('update', { day, total })
		},
		isDisabled (day) {
			if (this.disabled)
				return true

			if (this.product.suspended)
				return true

			if (this.lock.includes(day))
				return true

			return false
		},
		isExceeded (day) {
			return this.exceeded.includes(day)
		},
		getTotalByDay (day) {
			return this.days[day] * this.product.price
		}
	}
}
</script>

<style lang="scss">
.df-scheduler-product{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	&__name{
		font-size: 12px;
		text-transform: none;
		.md-ripple{
			justify-content: left;
			text-align: left !important;
		}
	}
	&__price{
		font-size: 11px;
		display: block;
	}
	&__suspended{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 13px;
		color: red;
	}
	.md-button{
		width: 100%;
		margin: 0;
		z-index: 0;
		white-space: normal;
	}
	.df-scheduler{
		&__column{
			&--sm{
				font-size: 12px;
			}
		}
	}
	&.is-touched{
		background: rgba(lime, 0.2);
	}
	&.is-suspended,
	&.is-disabled{
		background: rgb(245, 245, 245);
		cursor: not-allowed;
	}
	&.is-suspended{
		.df-scheduler__column--sm:not(.df-scheduler__column--total){
			opacity: 0.1;
		}
	}
}
</style>
