.md-dialog,
.md-menu-content{
	max-height: initial;
}

.md-drawer{
	width: 350px;
}

.md-app{
	height: 100%;
	.md-app-scroller,
	.md-app-container{
		height: 100%;
	}
	.md-app-content{
		padding: 0;
	}
}

.md-list{
	.md-ripple{
		> span:last-child{
			position: absolute;
		}
	}
}

// NProgress
#nprogress{
	.bar{
		background: #E91E63 !important;
	}
	.peg{
		box-shadow: 0 0 10px #E91E63, 0 0 5px #E91E63 !important;
	}
	.spinner{
		display: none !important;
	}
}
