@include md-register-theme("default", (
	primary: $c-primary,
	accent: $c-accent,
	theme: light
));

@include md-register-theme("dark", (
	primary: $c-primary,
	accent: $c-accent,
	theme: dark
))

@include md-register-theme("success", (
	primary: $c-secondary,
	accent: $c-accent,
	theme: dark
))

@include md-register-theme("warn", (
	primary: $c-warn,
	accent: $c-accent,
	theme: dark
))

@include md-register-theme("warn-light", (
	primary: $c-warn,
	accent: $c-accent,
	theme: light
))

@include md-register-theme("sidenav", (
	primary: $c-accent,
	accent: $c-warn,
	theme: light
));

@import "~vue-material/dist/theme/all"; // Apply the theme
