@import "~vue-material/dist/theme/engine";

$c-black: rgba(black, .87);
$c-primary: md-get-palette-color(green, A400);
$c-secondary: md-get-palette-color(amber, 300);
$c-accent: md-get-palette-color(red, A200);
$c-warn: md-get-palette-color(orange, 900);

