<?=
	Form::open([
		'data-request' => 'onSubmit',
		'data-request-success' => '$.oc.flashMsg({
			text: "Pedido atualizado com sucesso!",
			class: "success"
		})',
		'data-request-error' => '$.oc.flashMsg({
			text: "O campo de data é obrigatório.",
			class: "error"
		})',
		'class' => 'scheduler'
	])
?>
	<h3 style="margin-bottom: 20px;">
		Editar Pedido
	</h3>

	<h5>
		<b>Colaborador:</b> <?php echo $user ?>
	</h5>

	<h5>
		<b>Empresa:</b> <?php echo $company ?>
	</h5>


	<div data-control="datepicker" data-format="DD/MM/YYYY" class="scheduler__day w-300">
		<input
			type="text"
			class="form-control scheduler__date"
			placeholder="Dia do Pedido"
			data-datepicker
		/>

		<input
			type="hidden"
			name="day"
			data-datetime-value
		/>
	</div>

	<div class="scheduler__menu control-list">
		<table class="table data">
			<thead>
				<tr>
					<td>
						<span>Produto</span>
					</td>
					<td>
						<span>Categoria</span>
					</td>
					<td>
						<span>Valor</span>
					</td>
					<td>
						<span>Quantidade</span>
					</td>
				</tr>
			</thead>
			<tbody>
				<?php foreach($products as $mn){ ?>
					<tr>
						<td>
							<?php echo $mn['name']; ?>
						</td>
						<td>
							<?php echo $mn['category']; ?>
						</td>
						<td>
							R$ <?php echo (strlen($mn['value']) <= 3) ? number_format((float)$mn['value'], 2, '.', ',') : $mn['value']; ?>
						</td>
						<td>
							<div class="form-group span-left">
								<input
									type="text"
									name="quant[<?php echo $mn['id']; ?>]"
									value="<?php echo $mn['quant'] ?>"
									class="scheduler__input form-control"
								/>
							</div>
						</td>
					</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>

	<footer class="scheduler__footer">
		<button class="btn btn-primary">
			Atualizar
		</button>

		<a href="javascript:history.back()" class="btn btn-default">
			Voltar
		</a>
	</footer>
<?= Form::close() ?>
