.report-products .checkbox{
	margin: 10px 0;
}

.report-products__buttons{
	margin-bottom: 20px;
}

.report-products__wrapper{
	display: none;
	margin-bottom: 20px;
}

.report-products__box{
	height: 180px;
	overflow-y: auto;
	border: 1px solid lightgray;
	padding: 0 10px;
	background: white;
}
