.report-company .checkbox{
	margin: 10px 0;
}

.report-company__buttons{
	margin-bottom: 20px;
}

.report-company__wrapper{
	display: none;
	margin-bottom: 20px;
}

.report-company__box{
	height: 180px;
	overflow-y: auto;
	border: 1px solid lightgray;
	padding: 0 10px;
	background: white;
}
