<template>
	<md-card class="df-menu-widget md-primary" md-theme="warn">
		<md-card-header>
			<span class="md-title">
				Produtos em Destaque
			</span>
		</md-card-header>

		<div class="df-menu-widget__swiper swiper-container">
			<div class="df-menu-widget__wrapper swiper-wrapper">
				<div class="df-menu-widget__slide swiper-slide" v-for="(product, index) in featured">
					<div
						class="df-menu-widget__thumbnail"
						:style="{ backgroundImage: `url(${$options.filters.media(encodeURI(product.thumbnail))})` }"
					>
						<div class="df-menu-widget__nav">
							<md-button class="df-menu-widget__prev md-primary md-raised md-icon-button">
								<md-icon>arrow_back</md-icon>
							</md-button>
							<md-button class="df-menu-widget__next md-primary md-raised md-icon-button">
								<md-icon>arrow_forward</md-icon>
							</md-button>
						</div>
					</div>
					<div class="df-menu-widget__footer">
						<span class="md-subheading">
							{{ product.name }}
						</span>
					</div>
				</div>
			</div>

			<md-dialog :md-active.sync="showDialog" v-if="selected" md-theme="default">
				<df-product-preview
					:name="selected.name"
					:price="selected.price"
					:calories="300"
					:weight="250"
					:thumbnail="selected.thumbnail | media"
					:description="selected.description"
				>
				</df-product-preview>

				<md-dialog-actions>
					<md-button class="md-accent" @click="showDialog = false">Fechar</md-button>
				</md-dialog-actions>
			</md-dialog>
		</div>
	</md-card>

</template>

<script>
import Swiper from 'swiper/dist/js/swiper'
import { mapGetters } from 'vuex'
import ProductPreview from '../product/ProductPreview'

export default {
	components: {
		'df-product-preview': ProductPreview
	},
	data: () => ({
		swiper: null,
		showDialog: false,
		selected: null
	}),
	computed: {
		...mapGetters({
			featured: 'menu/getFeatured'
		})
	},
	mounted () {
		this.swiper = new Swiper(this.$el.querySelector('.df-menu-widget__swiper'), {
			effect: 'fade',
			loop: true,
			autoplay: {
				delay: 5000,
				disableOnInteraction: false
			},
			navigation: {
				nextEl: '.df-menu-widget__next',
				prevEl: '.df-menu-widget__prev'
			},
			on: {
				click: event => {
					let index = this.swiper.realIndex,
						product = this.featured[index]

					if (product && event.target.classList.contains('df-menu-widget__thumbnail'))
						this.openDialog(product)
				}
			}
		})
	},
	methods: {
		openDialog (product) {
			this.selected = product
			this.showDialog = true
		}
	}
}
</script>

<style lang="scss">
.df-menu-widget{
	height: 100%;
	&__swiper{
		height: calc(100% - 64px);
	}
	&__wrapper{
		position: absolute;
		top: 0;
		left: 0;
	}
	&__slide{
		position: relative;
		cursor: pointer;
		display: flex;
		flex-flow: column;
	}
	&__thumbnail{
		background-size: cover;
		background-position: center;
		position: relative;
		flex: 1;
		.md-button{
			.md-ripple{
				box-sizing: border-box;
			}
		}
	}
	&__nav{
		position: absolute;
		bottom: 10px;
		right: 5px;
	}
	&__footer{
		background: $c-warn;
		padding: 16px;
	}
}
</style>
