<template>
	<div class="df-menu-products">
		<md-toolbar class="md-primary">
			<div class="md-toolbar-section-start">
				<span class="md-title">
					Cardápio
				</span>
			</div>

			<div class="md-toolbar-section-end">
				<md-field class="df-menu-products__keyword" md-theme="warn-light" md-clearable>
					<md-input placeholder="Palavra chave" v-model="search" @input="searchOnTable" />
				</md-field>

				<md-field md-theme="warn-light">
					<md-select v-model="selectedCategories" placeholder="Categorias" multiple md-dense>
						<md-option
							v-for="(category, index) in categories"
							:key="index"
							:value="category"
						>
							{{ category }}
						</md-option>
					</md-select>
				</md-field>
			</div>
		</md-toolbar>

		<md-table
			class="md-primary"
			v-model="searched"
			md-theme="dark"
			md-sort="category"
			md-sort-order="desc"
			@md-selected="onSelect"
		>
			<md-table-toolbar slot="md-table-alternate-header" slot-scope="{ count }">
				<div class="md-toolbar-section-start">
					{{ getAlternateLabel(count) }}
				</div>

				<div class="md-toolbar-section-end">
					<md-button class="md-raised md-primary" @click="onBatchChange(true)">
						Ativar
					</md-button>
					<md-button class="md-raised md-accent" @click="onBatchChange(false)">
						Desativar
					</md-button>
				</div>
			</md-table-toolbar>

			<md-table-empty-state
				md-label="Nada encontrado"
				:md-description="`Nenhum produto encontrado com a palavra-chave '${search}'. Tente utilizar outra combinação.`"
			>
			</md-table-empty-state>

			<md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple" md-auto-select v-show="selectedCategories.length == 0 || selectedCategories.length > 0 && selectedCategories.includes(item.category)">
				<md-table-cell md-label="Produto" md-sort-by="name">{{ item.name }}</md-table-cell>
				<md-table-cell md-label="Valor" md-sort-by="price">{{ item.price | money }}</md-table-cell>
				<md-table-cell md-label="Categoria" md-sort-by="category">{{ item.category }}</md-table-cell>
				<md-table-cell md-label="Status" md-sort-by="hide">
					<md-switch v-model="item.show" @change="onChange($event, item)" class="md-primary">
					</md-switch>
				</md-table-cell>
			</md-table-row>
		</md-table>
	</div>
</template>

<script>
import store from '@/store'
import { mapGetters } from 'vuex'

const toLower = text => {
	return text.toString().toLowerCase()
}

const searchByName = (items, term) => {
	if (term) {
		return items.filter(item => toLower(item.name).includes(toLower(term)))
	}

	return items
}

export default {
	name: 'TableMultiple',
	data: () => ({
		search: '',
		searched: [],
		selected: [],
		selectedCategories: []
	}),
	beforeRouteEnter (to, from, next) {
		store.dispatch('menu/fetchMenu')
			.then(products => next())
	},
	computed: {
		...mapGetters({
			categories: 'menu/getCategories'
		}),
		products: {
			get () { return this.$store.state.menu.products },
			set (value) { this.$store.commit('menu/updateProducts', value) }
		}
	},
	created () {
		this.searched = this.products
	},
	methods: {
		onSelect (items) {
			this.selected = items
		},
		getAlternateLabel (count) {
			let plural = ''

			if (count > 1)
				plural = 's'

			return `${count} produto${plural} selecionado${plural}`
		},
		onBatchChange (value) {
			// Update selected
			this.selected.forEach(product => product.show = value)

			this.$store.dispatch('menu/updateStatus', {
				products: this.selected
			})
		},
		onChange (value, item) {
			this.$store.dispatch('menu/updateStatus', {
				products: [item]
			})
		},
		searchOnTable () {
			this.searched = searchByName(this.products, this.search)
		}
	}
}
</script>

<style lang="scss">
.df-menu-products{
	display: flex;
	flex-flow: column;
	height: 100%;
	&__keyword{
		margin-right: 16px;
	}
	.md-switch{
		margin: 5px 0 0;
	}
}
</style>
