<div class="control-tabs primary-tabs" data-control="tab">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#primaryTabOne">Pendentes</a></li>
		<li><a href="#primaryTabTwo">Pagos</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active">
			<div style="margin-bottom: 20px;">
				<b style="display: block">
					<?php echo $user ?>
				</b>
				<span class="pending-total" data-value="<?php echo $non_paid['total'] ?>">
					Total pendente: R$ <span><?php echo number_format($non_paid['total'], 2, ',', '.') ?></span>
				</span>
			</div>

			<div class="control-list">
				<table class="table--pending table data">
					<thead>
						<tr>
							<th><span>Data</span></th>
							<th><span>Consumo</span></th>
							<th></th>
							<th><span>Pago</span></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($non_paid['orders'] as $order): ?>
						<tr>
							<td><?php echo $order['date']; ?></td>
							<td>R$ <?php echo number_format($order['total'], 2, ',', '.') ?></td>
							<td class="table__updated"></td>
							<td style="padding: 8px 15px">
								<label class="custom-switch" style="margin: 0">
									<input type="checkbox" name="payed[<?php echo $order['id']; ?>]" class="pending-checkbox" data-order="<?php echo $order['id'] ?>"/>
									<span><span>Sim</span><span>Não</span></span>
									<a class="slide-button"></a>
								</label>
							</td>
						</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>

		<div class="tab-pane">
			<div style="margin-bottom: 20px;">
				<b style="display: block">
					<?php echo $user ?>
				</b>
				<span class="paid-total" data-value="<?php echo $paid['total'] ?>">
					Total pago: R$ <span><?php echo number_format($paid['total'], 2, ',', '.') ?></span>
				</span>
			</div>

			<div class="control-list">
				<table class="table--paid table data">
					<thead>
						<tr>
							<th><span>Data</span></th>
							<th><span>Consumo</span></th>
							<th><span>Pago em</span></th>
							<th><span>Pago</span></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($paid['orders'] as $order): ?>
						<tr>
							<td><?php echo $order['date']; ?></td>
							<td>R$ <?php echo number_format($order['total'], 2, ',', '.') ?></td>
							<td class="table__updated"><?php echo $order['updated_at']; ?></td>
							<td style="padding: 8px 15px">
								<label class="custom-switch" style="margin: 0">
									<input type="checkbox" checked='checked' name="payed[<?php echo $order['id']; ?>]" class="pending-checkbox" data-order="<?php echo $order['id'] ?>" />
									<span><span>Sim</span><span>Não</span></span>
									<a class="slide-button"></a>
								</label>
							</td>
						</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
Number.prototype.formatMoney = function(c, d, t) {
	var n = this, 
		c = isNaN(c = Math.abs(c)) ? 2 : c, 
		d = d == undefined ? "." : d, 
		t = t == undefined ? "," : t, 
		s = n < 0 ? "-" : "", 
		i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
		j = (j = i.length) > 3 ? j % 3 : 0

	return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "")
}

$(document).ready(function() {
	$('.pending-checkbox').on('change', event => {
		var target = event.target,
			row = target.parentNode.parentNode.parentNode

		function updateTotals(value, paid = true) {
			let $pending = $('.pending-total'),
				$paid = $('.paid-total'),
				pendingTotal = parseFloat($pending.data('value'))
				paidTotal = parseFloat($paid.data('value')),
				pendingUpdated = 0,
				paidUpdated = 0

			if (paid) {
				pendingUpdated = pendingTotal - value
				paidUpdated = paidTotal + value
			} else {
				pendingUpdated = pendingTotal + value
				paidUpdated = paidTotal - value
			}

			// Update html
			$pending.find('span').html(pendingUpdated.formatMoney(2, ',', '.'))
			$paid.find('span').html(paidUpdated.formatMoney(2, ',', '.'))

			// Update data
			$pending.data('value', pendingUpdated)
			$paid.data('value', paidUpdated)
		}

		$.request('onChange', {
			data: {
				order: target.dataset.order,
				value: target.checked
			},

			success: data => {
				var paid = data.paid == "true",
					$table = $(paid ? '.table--paid' : '.table--pending'),
					$updated = $(row).find('.table__updated')

				// Refresh updated value
				$updated.html(paid ? moment().format('DD/MM/YYYY') : '')

				// Move row to the right tab
				$table.find('tbody').append(row)

				// Update total value
				updateTotals(data.total, paid)

				$.oc.flashMsg({ text: 'Pedido atualizado com sucesso!' })
			}
		})
	})
})
</script>
