<div data-control="balloon-selector" class="control-balloon-selector" style="position: absolute; right: 0px; top: 5px; z-index: 20;">
	<ul>
		<li
			data-value="1"
			class="<?= isset($_GET['status']) && $_GET['status'] == 1 ? 'active' : '' ?>"
			onclick="window.location = '?status=1'"
		>
			Ativos
		</li>
		<li
			data-value="2"
			class="<?= isset($_GET['status']) && $_GET['status'] == 0 ? 'active' : '' ?>"
			onclick="window.location = '?status=0'"
		>
			Inativos
		</li>
		<li
			data-value="3"
			class="<?= isset($_GET['status']) && $_GET['status'] == 2 ? 'active' : '' ?>"
			onclick="window.location = '?status=2'"
		>
			Todos
		</li>
	</ul>
</div>

<script>
	<?php if (isset($_GET['status'])): ?>
		$(document).ready(function() {
			$('#Form-primaryTabs').ocTab('goToPane', '.tab-content .tab-pane:nth-child(2)')
		})
	<?php endif ?>
</script>

<?= $this->relationRender('user') ?>
