.scheduler{

}

.scheduler__day{
	margin-bottom: 20px;
}

.scheduler__menu{
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	display: none;
}

.scheduler__menu .table tbody td{
	line-height: 38px;
}

.scheduler__menu .span-left{
	padding-bottom: 0;
}

.scheduler__footer{
	margin-bottom: 20px;
}
