<template>
	<div class="df-dashboard">
		<md-drawer class="df-dashboard__drawer md-elevation-4" md-permanent="full">
			<df-sidenav-header>
			</df-sidenav-header>

			<df-sidenav-menu>
			</df-sidenav-menu>

			<md-toolbar class="df-dashboard__footer md-primary">
				<span class="df-dashboard__credit">
					<small>Limite mensal</small>
					<strong>{{ wallet.credit | money }}</strong>
				</span>

				<span class="df-dashboard__credit" v-if="user.daily_limit > 0">
					<small>Limite diário</small>
					<strong>{{ user.daily_limit | money }}</strong>
				</span>
			</md-toolbar>
		</md-drawer>

		<md-content class="df-dashboard__content">
			<transition name="dashboard">
				<router-view/>
			</transition>
		</md-content>
	</div>
</template>

<script>
import store from '@/store'
import router from '@/router'
import SidenavHeader from '../sidenav/SidenavHeader'
import SidenavMenu from '../sidenav/SidenavMenu'
import { mapGetters } from 'vuex'

export default {
	name: 'App',
	components: {
		'df-sidenav-header': SidenavHeader,
		'df-sidenav-menu': SidenavMenu
	},
	beforeRouteEnter (to, from, next) {
		let token = localStorage.getItem('token')

		if (!token)
			router.push('/auth')
		else
			Promise.all([
				store.dispatch('settings/fetchDate'),
				store.dispatch('auth/fetchUser'),
				store.dispatch('wallet/fetchWallet'),
				store.dispatch('menu/fetchMenu')
			])
				.then(next)
	},
	mounted () {
		this.$store.commit('logger/info', {
			message: `Bem vindo(a) ${this.user.name}!`
		})
	},
	computed: {
		...mapGetters({
			user: 'auth/getUser',
			wallet: 'wallet/getWallet'
		})
	}
}
</script>

<style lang="scss">
.df-dashboard{
	display: flex;
	height: 100%;
	&__drawer{
		display: flex;
		flex: 0 270px;
		flex-flow: column;
		flex-shrink: 0;
	}
	&__content{
		width: calc(100% - 270px);
		flex: 1;
		height: 100%;
		position: relative;
	}
	&__credit{
		small{
			display: block;
		}
	}
	&__footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.df-dashboard__credit{
			&:last-child{
				text-align: right;
			}
		}
	}
}

// Fade Scale
.dashboard-enter-active {
	transition: all .4s ease-out;
}
.dashboard-leave-active {
	transition: all .4s ease-out;
}
.dashboard-enter {
	opacity: 0;
	transform: translate(-10%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.dashboard-leave-active {
	opacity: 0;
	transform: translate(-10%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
</style>
