<template>
	<div class="df-input-number"
		:class="{
			'is-touched': value > 0,
			'is-disabled': disabled
		}"
	>
		<button
			class="df-input-number__button df-input-number__button--up"
			v-if="buttons"
			@click="increase"
		>
			<md-icon>keyboard_arrow_up</md-icon>
		</button>

		<input type="text" class="df-input-number__input"
			:value="disabled && value == 0 ? '–' : value"
			:disabled="disabled"
			@click="onClick"
			@change="onChange"
			@keydown="onKeydown"
		>

		<button
			class="df-input-number__button df-input-number__button--down"
			v-if="buttons"
			@click="decrease"
		>
			<md-icon>keyboard_arrow_down</md-icon>
		</button>
	</div>
</template>

<script>
export default {
	props: {
		step: {
			type: Number,
			default: 1
		},
		min: {
			type: Number,
			default: 0
		},
		max: {
			type: Number,
			default: 0
		},
		value: {
			type: Number|String,
			default: 0
		},
		buttons: {
			type: Boolean,
			default: true
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		set(quant) {
			this.$emit('input', quant)
			this.$el.querySelector('input').value = quant
		},
		increase() {
			let quant = this.value < this.max || this.max == 0
				? this.value + this.step
				: this.max

			this.$emit('input', quant)
			this.$emit('increase', quant)
		},
		decrease() {
			let quant = this.value > this.min
				? this.value - this.step
				: this.min

			this.$emit('input', quant)
			this.$emit('decrease', quant)
		},
		onClick(e) {
			e.target.select()
		},
		onChange(event) {
			let quant = +event.target.value > this.min
				? +event.target.value
				: this.min

			if (quant != this.min)
				quant = +event.target.value < this.max
					? +event.target.value
					: this.max

			this.set(quant)
		},
		onKeydown(e) {
			// Up key: Increase the value
			if (e.keyCode === 38) {
				this.increase()
				e.preventDefault()
				return
			}

			// Down key: Decrease the value
			if (e.keyCode === 40) {
				this.decrease()
				e.preventDefault()
				return
			}

			// Allow these keys only:
			if (
				// backspace, delete, tab, escape, enter, dot
				[46, 8, 9, 27, 13, 110, 190].indexOf(e.keyCode) >= 0 ||
				// Ctrl/cmd+A
				(e.keyCode === 65 && (e.ctrlKey || e.metaKey)) ||
				// Ctrl/cmd+C
				(e.keyCode === 67 && (e.ctrlKey || e.metaKey)) ||
				// Ctrl/cmd+R
				(e.keyCode === 82 && (e.ctrlKey || e.metaKey)) ||
				// Ctrl/cmd+X
				(e.keyCode === 88 && (e.ctrlKey || e.metaKey)) ||
				// home, end, left, right
				(e.keyCode >= 35 && e.keyCode <= 39)
			) {
				return
			}

			if (
				(e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) &&
				(e.keyCode < 96 || e.keyCode > 105)
			) {
				e.preventDefault()
			}
		}
	}
}
</script>

<style lang="scss">
.df-input-number{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	&__input{
		width: 40px;
		padding: 3px 0;
		margin: 0;
		text-align: center;
		background: white;
		outline: none;
		border: 1px solid lightgray;
		cursor: pointer;
		&:disabled{
			cursor: not-allowed;
		}
	}
	&__button{
		padding: 0;
		margin: 0 auto;
		border: 0;
		background: transparent;
		flex: 1 100%;
		cursor: pointer;
	}
	&.is-disabled{
		.df-input-number{
			&__input{
				border-color: transparent;
				background: transparent;
			}
		}
	}
	&:not(.is-disabled).is-touched{
		.df-input-number{
			&__input{
				background: $c-primary;
				border-color: $c-primary;
			}
		}
	}
	@include grid-media($smartphone-grid){
		.df-input-number{
			&__input{
				width: 28px;
			}
		}
	}
}

.md-theme-dark{
	.df-input-number{
		&__input{
			color: white;
			border: 2px solid white;
			background: transparent;
		}
	}
}
</style>
