<template>
	<form novalidate class="df-user-form" @submit.prevent="onSubmit">
		<md-toolbar class="md-primary">
			<div class="md-toolbar-section-start">
				<span class="md-title">
					Configurações
				</span>
			</div>

			<div class="md-toolbar-section-end">
				<md-button type="submit">
					Atualizar
				</md-button>
			</div>
		</md-toolbar>

		<div class="df-user-form__fieldset">
			<div class="md-layout md-gutter">
				<div class="df-user-form__left md-layout-item md-layout md-gutter">
					<div class="df-user-form__password md-layout-item md-size-100">
						<div class="md-subheading">
							Redefinir Senha
						</div>
						<div class="md-layout md-gutter">
							<div class="md-layout-item md-size-33">
								<md-field :class="getValidationClass('current')">
									<label>Senha Atual</label>
									<md-input v-model="password.current" type="password" @input="$v.password.current.$touch()" :disabled="sending" />
									<span class="md-error" v-if="!$v.password.current.required">Campo obrigatório</span>
								</md-field>
							</div>

							<div class="md-layout-item md-size-33">
								<md-field :class="getValidationClass('first')">
									<label>Nova Senha</label>
									<md-input v-model="password.first" type="password" @input="$v.password.first.$touch()" :disabled="sending" />
									<span class="md-error" v-if="!$v.password.first.required">Campo obrigatório</span>
									<span class="md-error" v-else-if="!$v.password.first.minLength">Mínimo {{ $v.password.first.$params.minLength.min }} caracteres</span>
								</md-field>
							</div>

							<div class="md-layout-item md-size-33">
								<md-field :class="getValidationClass('second')">
									<label>Confirmar Senha</label>
									<md-input v-model="password.second" type="password" @input="$v.password.second.$touch()" :disabled="sending" />
									<span class="md-error" v-if="!$v.password.second.sameAsPassword">As senhas não conferem</span>
								</md-field>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
import moment from 'moment'
import store from '@/store'
import OrderHistory from '../order/OrderHistory'
import { validationMixin } from 'vuelidate'
import { required, email, sameAs, minLength } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'

export default {
	mixins: [validationMixin],
	components: {
		'df-order-history': OrderHistory
	},
	computed: {
		...mapGetters({
			user: 'auth/getUser'
		}),
		method () {
			return this.$route.meta.method
		}
	},
	data: () => ({
		password: {
			current: '',
			first: '',
			second: ''
		},
		sending: false
	}),
	validations () {
		let rules = {
			password: {
				current: {
					required
				},
				first: {
					minLength: minLength(6),
					required
				},
				second: {
					sameAsPassword: sameAs('first')
				}
			}
		}

		return rules
	},
	methods: {
		getValidationClass (fieldName) {
			const field = this.$v.password[fieldName]

			if (field)
				return {
					'md-invalid': field.$invalid && field.$dirty
				}
		},
		getFormated (value) {
			return parseFloat(value)
				.toFixed(2)
				.toString()
				.replace(',', '')
				.replace('.', ',')
		},
		validate () {
			this.$v.$touch()

			return !this.$v.$invalid
		},
		onSubmit (event) {
			if (this.validate()) {
				this.sending = true

				this.$store.dispatch('auth/resetPassword', this.password)
					.then(response => {
						console.log(response)
						this.sending = false
						// this.$router.push('/dashboard')
					}, error => this.sending = false)
			}
		}
	}
}
</script>

<style lang="scss">
.df-user-form{
	height: 100%;
	display: flex;
	flex-flow: column;
	&__fieldset{
		padding: 20px;
		overflow: auto;
		flex: 1 100%;
		.md-button{
			margin-left: 0;
		}
	}
	&__left{
		padding: 0 !important;
	}
	&__left,
	&__right{
		align-content: flex-start;
	}
	&__card{
		width: 100%;
	}
	.md-toolbar{
		flex-shrink: 0;
	}
	.md-layout{
		align-items: flex-start;
	}
	.md-radio{
		// display: flex;
	}
	.df-order-history{
		width: 100%;
		margin: 40px 16px 16px;
	}
}
</style>
