<template>
	<div id="app" class="df-app">
		<router-view/>

		<md-snackbar
			class="df-app__snackbar"
			md-position="left"
			:md-duration="last.duration"
			:md-active.sync="showLogger"
			md-persistent
		>
			<span v-html="last.message"></span>
			<md-button
				:class="{
					'md-primary': last.type == 'info',
					'md-accent': last.type == 'error'
				}"
				@click="showLogger = false; last.callback()"
			>
				{{ last.action }}
			</md-button>
		</md-snackbar>
	</div>
</template>

<script>
import Vue from 'vue'
import store from '@/store'
import router from '@/router'
import { mapGetters } from 'vuex'

// JWT Interceptor
Vue.http.interceptors.push((request, next) => {
	let token = localStorage.getItem('token')

	if (request.url == `${process.env.API_URL}/login`)
		return next()

	// Add token to Authorization header
	request.headers.set('Authorization', `Bearer ${token}`)

	// Prevent refresh token recursive call
	if (request.body && request.body.refresh && request.body.token) {
		next()
	} else {
		let expires_at = localStorage.getItem('expires_at')

		// Prevent error when there's no expiration time data
		if (!expires_at)
			store.dispatch('auth/logout')
				.then(router.push('/'))

		// Refresh token if expired
		if (new Date(parseInt(expires_at)) < new Date()) {
			if (!store.state.auth.refreshing)
				store.dispatch('auth/refresh', token)

			// Wait token refresh
			document.body.addEventListener('token-refreshed', event => {
				// Set token again before retrying
				request.headers.set('Authorization', `Bearer ${event.detail}`)

				// Retry request
				next()
			}, {
				once: true
			})
		} else {
			next()
		}
	}
})

export default {
	computed: {
		...mapGetters({
			last: 'logger/getLast'
		}),
		showLogger: {
			get () {
				return this.$store.state.logger.show
			},
			set (value) {
				this.$store.commit('logger/setShow', value)
			}
		}
	}
}
</script>

<style lang="scss">
@import "~@/stylesheets/theme";
@import "~@/stylesheets/third";
@import "~@/stylesheets/shame";

html, body{
	height: 100%;
}

.df-app{
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
	&__snackbar{
		bottom: initial !important;
		left: initial !important;
		right: 24px;
		top: 24px;
	}
}
</style>
