<div class="emails emails--missing">
	<form class="form form-elements w-sm">
		<h4 class="w-full">
			Envio de Emails
		</h4>
		<div class="m-r-md">
			<?= $this->widget->reportcompany->render(false) ?>
		</div>
		<?= $this->widget->reportdate->render(7, [7, 14]) ?>
		<input class="btn btn-default" type="submit" value="Filtrar">
	</form>


	<form class="list w-lg">

		<h4 class="w-md">
			Selecione os colaboradores
		</h4>

		<div class="actions w-md">
			<input class="btn btn-primary start" type="submit" value="Disparar Emails">
			<button class="btn btn-default stop" disabled="disabled">
				Parar
			</button>
		</div>

		<div class="emails__textarea form-group text-field">
			<textarea class="form-control" name="message" rows="4">Não esqueça, de realizar a programação de pedido de lanche para esta semana ou para próxima.&#13;&#10;Clique no link http://<?= $_SERVER['HTTP_HOST'] ?>&#13;&#10;&#13;&#10;Caso queira sugerir a inclusão de um tipo de lanche, envie para o e-mail contato@donafruta.com.br</textarea>
		</div>

		<div class="control-list w-full">
			<table class="table data" data-control="rowlink">
				<thead>
					<tr>
						<th class="list-checkbox">
							<div class="checkbox custom-checkbox nolabel">
								<input type="checkbox" id="checkboxAll" />
								<label for="checkboxAll"></label>
							</div>
						</th>
						<th><span>Colaborador</span></th>
						<th><span>Email</span></th>
						<th><span>Estado</span></th>
					</tr>
				</thead>
				<tbody>
				</body>
			</table>
		</div>
	</form>
</div>
