<template>
	<div class="df-order-weekly">
		<md-toolbar class="app__toolbar md-primary">
			<div class="md-toolbar-section-start">
				<span class="md-title">
					Programação de Pedidos
				</span>
			</div>

			<df-scheduler-select
				:disabled="loading"
				@change="onWeekChange"
			>
			</df-scheduler-select>

			<div class="md-toolbar-section-end">
				<md-menu md-size="big" md-direction="bottom-end">
					<md-button class="md-icon-button" md-menu-trigger>
						<md-icon>more_vert</md-icon>
					</md-button>

					<md-menu-content>
						<md-menu-item @click="showSummary = true">
							<span>Detalhes</span>
							<md-icon>receipt</md-icon>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>

		<df-scheduler
			ref="scheduler"
			:class="{'is-blur': loading}"
			:menu="menu"
			:orders="orders"
			:disabled="isLocked() || loading"
			:limit="user.daily_limit"
			@init="onSchedulerInit"
			@update="onSchedulerUpdate"
		>
		</df-scheduler>

		<df-scheduler-toolbar
			ref="toolbar"
			:total="total"
			:disabled="loading"
			:available="available"
			:purchased="isLocked()"
			:credit="user.credit"
			:factor="factor"
			:split="split"
			@next="onNext"
			@submit="onSubmit"
		>
		</df-scheduler-toolbar>

		<md-dialog-confirm
			:md-active.sync="showAlert"
			md-title="Atenção!"
			md-content="Ao executar o seguinte comando, os dados atuais do pedido <b>serão perdidos</b>. Tem certeza que deseja continuar?"
			md-confirm-text="Confirmar"
			md-cancel-text="Cancelar"
			@md-cancel="showAlert = false"
			@md-confirm="showAlert = false; setWeek(tempWeek)"
		/>

		<md-dialog :md-active.sync="showSummary">
			<md-dialog-title>
				Detalhes referente à {{ month }}
			</md-dialog-title>

			<df-order-summary
				:user="user"
				:wallet="wallet"
				:revisions="revisions"
				@revision="onRevision"
			>
			</df-order-summary>

			<md-dialog-actions>
				<md-button
					class="md-accent"
					@click="showSummary = false"
				>
					Fechar
				</md-button>
			</md-dialog-actions>
		</md-dialog>
	</div>
</template>

<script>
import moment from 'moment'
import store from '@/store'
import Scheduler from '../scheduler/Scheduler'
import SchedulerToolbar from '../scheduler/SchedulerToolbar'
import SchedulerSelect from '../scheduler/SchedulerSelect'
import OrderSummary from './OrderSummary'
import { mapGetters } from 'vuex'

export default {
	components: {
		'df-scheduler': Scheduler,
		'df-scheduler-toolbar': SchedulerToolbar,
		'df-scheduler-select': SchedulerSelect,
		'df-order-summary': OrderSummary
	},
	beforeRouteEnter (to, from, next) {
		Promise.all([
			store.dispatch('menu/fetchMenu'),
			store.dispatch('wallet/fetchWallet'),
			store.dispatch('revision/fetchRevisions'),
			store.dispatch('order/fetchOrder', {
				week: moment.today().week()
			})
		])
			.then(next)
	},
	data: () => ({
		total: 0, // The current order's total
		factor: 0, // The correction factor when revisioning a order
		showSummary: false, // Show/hide summary dialog
		showAlert: false, // Show/hide confirmation dialog
		loading: false, // Prevent multiple requests
		split: false, // Whether the week has month break
		revision: null, // The current order revision
		tempWeek: null,
		hide: []
	}),
	computed: {
		...mapGetters({
			menu: 'menu/getMenu',
			orders: 'order/getCurrent',
			readOnly: 'order/getReadOnly',
			week: 'order/getWeek',
			user: 'auth/getUser',
			wallet: 'wallet/getWallet',
			revisions: 'revision/getRevisions'
		}),
		available () {
			return this.wallet.available
		},
		month () {
			let month = this.$store.state.wallet.month ? this.$store.state.wallet.month : moment.today().month()

			return moment(month, 'M').format('MMMM')
		}
	},
	mounted () {
		// If today is saturday from the current week
		// Then proceed to next week
		if (moment.today().weekday() == 5 && this.week == moment.today().week())
			this.setWeek(this.week + 1)
	},
	methods: {
		onSchedulerInit (event) {
			this.split = event.split

			if (this.split && this.isLocked()) {
				this.total = this.$refs.scheduler.getChunkTotal('last')
			} else {
				this.total = this.$refs.scheduler.getChunkTotal('first')
			}

			// Update factor
			this.factor = this.$refs.scheduler.getChunkTotal('first')

			// Reset limit data
			this.$refs.scheduler.exceeded = []

			// Hide blocked products
			this.$refs.scheduler.hide = []
			for (let category in this.menu) {
				this.menu[category].forEach(product => {
					if (!product.show)
						this.$refs.scheduler.hide.push(product.id)
				})
			}

			// Avoid showing blocked scheduler
			let chunkDays = Object.keys(this.$refs.scheduler.chunks.first),
				lastChunkDay = chunkDays[chunkDays.length - 1],
				currentDay = moment.today().weekday()

			// Or if last day is equal to current day
			// Then proceed to the second chunk
			if (
				lastChunkDay <= currentDay &&
				chunkDays.length < 5 &&
				moment.today().week() == this.week
			)
				this.onNext()
		},

		/*
		 * Fired everytime the week is changed
		 * @param {int} week - The current week number
		 */
		onWeekChange (week) {
			this.tempWeek = week

			if (this.total > 0 && !this.readOnly || this.total > 0 && this.revision)
				return this.showAlert = true

			this.setWeek(week)
		},

		setWeek (week) {
			this.loading = true

			this.$store.dispatch('order/fetchOrder', { week })
				.then(orders => {
					let dates = Object.keys(orders)
					this.loading = false

					if (dates.length > 0 && this.isLocked())
						if (moment(dates[0]).month() != moment(dates[dates.length - 1]).month())
							week += 1

					this.$store.dispatch('wallet/fetchWallet', moment(week, 'w').format('M'))
						.then(() => {
							this.initial = null
							this.$refs.scheduler.init()

							if (this.revision)
								// Update factor
								this.factor = this.$refs.scheduler.getChunkTotal('first')
							else
								this.factor = 0
						})
				})
		},
		/*
		 * Submit order
		 * @param {FormEvent} event
		 */
		onSubmit (event) {
			if (this.loading)
				return

			let scheduler = this.$refs.scheduler,
				week = this.week

			// Check user limit
			if (scheduler.exceeded.length > 0)
				return this.$store.commit('logger/error', {
					message: `Você ultrapassou o limite diário de R$ ${this.$options.filters.money(this.user.daily_limit)}.<br /> Veja o dia em destaque.`
				})

			this.loading = true

			if (Object.keys(this.$refs.scheduler.chunks['last']).length > 0)
				week += 1

			// Loop throught products
			// Organize data for backend
			scheduler.$refs.items.forEach(item => {
				for (let date in this.orders) {
					let day = moment(date)
						.weekday()

					this.orders[date][item.product.id] = item.days[day]
				}
			})

			// Create order and update wallet data
			if (!this.revision)
				this.$store.dispatch('order/create', { orders: this.orders })
					.then(() => {
						this.loading = false
						this.$store.dispatch('wallet/fetchWallet', moment(week, 'w').format('M'))
					})
			// If there's a revision, update order and wallet
			else
				this.$store.dispatch('order/update', { orders: this.orders, revision: this.revision })
					.then(() => {
						this.loading = false
						this.$store.dispatch('wallet/fetchWallet', moment(week, 'w').format('M'))
					})
		},

		onSchedulerUpdate (value) {
			this.total = value
		},

		/*
		 * Week break logic
		 */
		onNext () {
			this.$store.dispatch('wallet/fetchWallet', moment(this.$store.state.order.week, 'w').add(1, 'weeks').format('M'))
				.then(() => {
					let chunk = this.$refs.scheduler.toggleChunk()

					if (chunk == 'last')
						this.split = false

					this.factor = this.$refs.scheduler.getChunkTotal(chunk)
				})
		},

		isLocked () {
			let locked = this.readOnly || this.loading

			if (this.revisions)
				this.revisions.forEach(revision => {
					let week = moment(revision.initial_date, 'YYYY-MM-DD').week()

					if (week == this.$store.state.order.week && revision.status == 0) {
						this.revision = revision
						locked = false
					}
				})

			return locked
		},

		onRevision (payload) {
			this.$store.dispatch('revision/createRevision', payload)
				.then(revisions => {
					this.$store.commit('revision/setRevisions', revisions)
				}, error => this.$store.commit('logger/error', {
					message: error
				}))
		}
	}
}
</script>

<style lang="scss">
.df-order-weekly{
	height: 100%;
	display: flex;
	flex-flow: column;
	.df-scheduler{
		flex: 1;
		transition: .3s ease-out;
		&.is-blur{
			opacity: 0.7;
		}
	}
}
</style>
