<template>
	<div class="df-order-summary">
		<md-card-content>
			<div class="df-order-summary__data">
				Limite mensal: <b>{{ wallet.credit | money }}</b>.</br>
				Consumo mensal: <b>{{ wallet.spent | money }}</b>.</br>
				Saldo disponível: <b>{{ wallet.available | money }}</b>.</br>
			</div>
		</md-card-content>

		<md-table>
			<md-table-row>
				<md-table-head>Semana</md-table-head>
				<md-table-head>Período</md-table-head>
				<md-table-head>Consumo</md-table-head>
				<md-table-head></md-table-head>
			</md-table-row>

			<md-table-row v-for="(spent, week) in wallet.weeks" :key="week">
				<md-table-cell>
					Semana {{ week }}
				</md-table-cell>
				<md-table-cell>
					{{ printRange(wallet.month, week) }}
				</md-table-cell>
				<md-table-cell>
					{{ spent | money }}
				</md-table-cell>
				<md-table-cell>
					<md-button @click="openScheduler(wallet.month, week)" class="md-primary md-raised md-icon-button">
						<md-icon>search</md-icon>
					</md-button>

					<md-button
						v-if="hasPermission()"
						class="df-order-summary__revision md-raised md-icon-button"
						:class="[
							isUnlocked(wallet.month, week) ? 'md-primary' : 'md-accent'
						]"
						:disabled="isPast(wallet.month, week)"
						@click="createRevision(wallet.month, week)"
					>
						<md-icon>lock_outline</md-icon>
						<md-icon>lock_open</md-icon>
					</md-button>
				</md-table-cell>
			</md-table-row>
		</md-table>

		<md-dialog :md-active.sync="showScheduler" @close="onModalClose">
			<md-toolbar md-theme="warn" class="md-primary">
				<div class="md-toolbar-section-start">
					<span class="md-title">
						Sumário do Pedido
					</span>
				</div>
				<div class="md-toolbar-section-end" v-if="total.first">
					<span class="df-order-summary__total md-subheading">
						<small v-if="total.second">{{ printMonth(wallet.month - 1) }}</small>
						<small v-else>Total</small>
						{{ total.first | money }}
					</span>
				</div>
				<div class="md-toolbar-section-end" v-if="total.second">
					<span class="df-order-summary__total md-subheading">
						<small>{{ printMonth(wallet.month) }}</small>
						{{ total.second | money }}
					</span>
				</div>
			</md-toolbar>

			<df-scheduler
				ref="scheduler"
				class="df-order-scheduler"
				:orders="orders"
				:menu="menu"
				:disabled="true"
				:hide-empty="true"
				@init="onSchedulerInit"
			>
			</df-scheduler>

			<md-dialog-actions>
				<md-button
					class="md-accent"
					@click="showScheduler = false"
				>
					Fechar
				</md-button>
			</md-dialog-actions>
		</md-dialog>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import Scheduler from '../scheduler/Scheduler'

export default {
	components: {
		'df-scheduler': Scheduler
	},
	props: {
		user: {},
		wallet: {
			type: Object,
			default: () => ({
				available: 0,
				credit: 0,
				spent: 0,
				month: 1,
				weeks: {
					1: 0,
					2: 0,
					3: 0,
					4: 0,
					5: 0
				}
			})
		},
		revisions: {
			type: Array,
			default: () => []
		}
	},
	data: () => ({
		showScheduler: false,
		orders: null,
		total: {}
	}),
	computed: {
		...mapGetters({
			menu: 'menu/getMenu'
		}),
		month () {
			return moment(this.wallet.month, 'M')
				.format('MMMM')
		}
	},
	watch: {
		revisions() {
			this.$forceUpdate()
		}
	},
	methods: {
		getRange (month, week) {
			let start = moment(this.wallet.month, 'M').add(week - 1, 'weeks').startOf('week'),
				end = start.clone().endOf('week')

			if (start.format('M') != month)
				start = moment(this.wallet.month, 'M').startOf('month')

			if (end.format('M') != month)
				end = moment(this.wallet.month, 'M').endOf('month')

			return [start, end]
		},

		printRange (month, week) {
			let range = this.getRange(month, week)

			return `${range[0].format('DD/MM')} - ${range[1].format('DD/MM')}`
		},

		isUnlocked (month, week) {
			let range = this.getRange(month, week),
				valid = false

			this.revisions.some(revision => {
				let initial = moment(revision.initial_date),
					final = moment(revision.final_date)

				valid = revision.status == 0 &&
					range[0].isSameOrAfter(initial, 'day') &&
					range[1].isSameOrBefore(final, 'day')

				return valid
			})

			return valid
		},

		onSchedulerInit (event) {
			this.total = {
				first: event.first
			}

			if (event.last > 0)
				this.total.second = event.last
		},

		onModalClose (event) {
			this.total = {}
		},

		openScheduler (month, week) {
			this.$store.dispatch('user/getOrders', {
				id: this.user.id,
				week: moment(month, 'M').add(week - 1, 'weeks').week()
			})
				.then(orders => {
					this.orders = orders
					this.showScheduler = true
					this.$emit('details')
				})
		},

		createRevision (month, week) {
			let start = moment(this.wallet.month, 'M').add(week - 1, 'weeks').startOf('week'),
				end = start.clone().endOf('week')

			this.$emit('revision', {
				id: this.user.id,
				start: start.format('YYYY-MM-DD'),
				end: end.format('YYYY-MM-DD')
			})
		},

		isPast (month, week) {
			return moment(month, 'M')
				.add(week, 'weeks').week() <= moment.today().week()
		},

		hasPermission () {
			return this.$store.state.auth.user.permission == 'Responsavel'
		},

		printMonth (month) {
			return moment(month, 'M').format('MMMM')
		}
	}
}
</script>

<style lang="scss">
.df-order-summary{
	&__data{
		padding: 0 10px;
	}
	&__revision{
		.md-icon{
			&:first-child{
				display: block;
			}
			&:last-child{
				display: none;
			}
		}
		&.md-primary{
			.md-icon{
				&:first-child{
					display: none;
				}
				&:last-child{
					display: block;
				}
			}
		}
		&:not(.md-accent){
			background: $c-secondary !important;
		}
	}
	&__total{
		line-height: 100%;
		display: flex;
		align-items: center;
		small{
			text-align: right;
			margin-right: 5px;
			text-transform: capitalize;
		}
	}
	.md-card-content{
		display: flex;
	}
}
.df-order-scheduler{
	width: 900px;
	max-height: 400px;
	max-width: 100%;
}
</style>
