<template>
	<div class="df-order-pending">
		<md-toolbar class="app__toolbar md-primary">
			<div class="md-toolbar-section-start">
				<span class="md-title">
					Pagamentos em Aberto
				</span>
			</div>

			<div class="md-toolbar-section-end">
				<span class="md-title">
					TOTAL {{ total | money }}
				</span>
			</div>
		</md-toolbar>

		<md-table
			v-model="orders"
			md-sort="date"
			md-sort-order="asc"
			class="df-order-pending__orders"
		>
			<md-table-empty-state
				class="md-primary"
				md-icon="done"
				md-label="Nada encontrado"
				md-description="Não existem pagamentos pendentes. Obrigado!"
			>
			</md-table-empty-state>

			<md-table-row class="md-primary" slot="md-table-row" slot-scope="{ item }">
				<md-table-cell md-label="Data" md-sort-by="date">{{ item.date | date('LL') }}</md-table-cell>
				<md-table-cell md-label="Consumo" md-sort-by="total">{{ item.total | money }}</md-table-cell>
				<md-table-cell>
					<md-button class="md-primary md-raised md-icon-button" @click="onDetails(item)">
						<md-icon>search</md-icon>
					</md-button>
				</md-table-cell>
			</md-table-row>
		</md-table>

		<md-dialog :md-active.sync="showDialog">
			<md-dialog-title>
				Detalhes do pedido
			</md-dialog-title>

			<div>
				<md-table
					v-model="current.products"
					v-if="current"
					md-sort="name"
					md-sort-order="asc"
					class="df-order-pending__products"
				>
					<md-table-row class="md-primary" slot="md-table-row" slot-scope="{ item }">
						<md-table-cell md-label="Produto" md-sort-by="name">{{ item.name }}</md-table-cell>
						<md-table-cell md-label="Quantidade" md-sort-by="quantity">{{ item.quantity }}</md-table-cell>
						<md-table-cell md-label="Valor Unitário" md-sort-by="value">{{ item.value | money }}</md-table-cell>
						<md-table-cell md-label="Total" md-sort-by="total">{{ item.value * item.quantity | money }}</md-table-cell>
					</md-table-row>
				</md-table>
			</div>

			<md-dialog-actions>
				<md-button
					class="md-accent"
					@click="showDialog = false"
				>
					Fechar
				</md-button>
			</md-dialog-actions>
		</md-dialog>
	</div>
</template>

<script>
import store from '@/store'

export default {
	beforeRouteEnter(to, from, next) {
		store.dispatch('auth/fetchPending')
			.then(orders => next(vm => vm.orders = orders))
	},
	computed: {
		total() {
			let total = 0
			this.orders.forEach(order => total += order.total)
			return total
		}
	},
	data: () => ({
		showDialog: false,
		orders: [],
		current: null
	}),
	methods: {
		onDetails(order) {
			this.current = order
			this.showDialog = true
		}
	}
}
</script>

<style lang="scss">
.df-order-pending{
	display: flex;
	flex-flow: column;
	height: 100%;
	&__warn{
		color: $c-warn;
	}
}
</style>
