<template>
	<md-card class="df-order-widget" md-theme="warn">
		<md-empty-state
			class="md-primary"
			md-icon="shopping_basket"
			md-label="Nenhuma entrega para hoje"
			md-description="Programe seus pedidos para receber produtos:"
			v-if="Object.keys(orders).length == 0"
		>
			<md-button class="md-primary md-raised" @click="$router.push('/order/weekly')">
				Programar pedido
			</md-button>
		</md-empty-state>

		<md-table class="df-order-widget__table" md-card v-else>
			<md-table-toolbar>
				<h1 class="md-title">Pedidos do Dia</h1>
			</md-table-toolbar>

			<md-table-row>
				<md-table-head>Produto</md-table-head>
				<md-table-head md-numeric>Quantidade</md-table-head>
			</md-table-row>

			<md-table-row v-for="(quantity, product) in orders" :key="product">
				<md-table-cell>{{ product }}</md-table-cell>
				<md-table-cell md-numeric>{{ quantity }}</md-table-cell>
			</md-table-row>
		</md-table>
	</md-card>
</template>

<script>
export default {
	props: {
		orders: {
			type: Object,
			default: () => {}
		}
	}
}
</script>

<style lang="scss">
.df-order-widget{
	height: 100%;
	background-color: #880E4F !important;
	.md-card{
		height: 100%;
		background-color: #880E4F !important;
	}
	.md-table-content{
		background-color: #880E4F !important;
	}
}
</style>
