<template>
	<md-card class="df-order-history">
		<md-card-header>
			<span class="md-title">
				Histórico de Pedidos
			</span>

			<md-field>
				<md-select v-model="month" @input="onChange" md-dense>
					<md-option value="1">Janeiro</md-option>
					<md-option value="2">Fevereiro</md-option>
					<md-option value="3">Março</md-option>
					<md-option value="4">Abril</md-option>
					<md-option value="5">Maio</md-option>
					<md-option value="6">Junho</md-option>
					<md-option value="7">Julho</md-option>
					<md-option value="8">Agosto</md-option>
					<md-option value="9">Setembro</md-option>
					<md-option value="10">Outubro</md-option>
					<md-option value="11">Novembro</md-option>
					<md-option value="12">Dezembro</md-option>
				</md-select>
			</md-field>
		</md-card-header>

		<df-order-summary
			v-if="!loading"
			:user="user"
			:wallet="wallet"
			:revisions="revisions"
			@revision="onRevision"
		>
		</df-order-summary>
	</md-card>
</template>

<script>
import moment from 'moment'
import OrderSummary from './OrderSummary'

export default {
	components: {
		'df-order-summary': OrderSummary
	},
	props: {
		wallet: {
			type: Object,
			default: () => {}
		},
		user: {
			type: Object,
			default: () => {}
		},
		revisions: {
			type: Array,
			default: () => []
		}
	},
	mounted() {
		this.$nextTick(() => this.loading = false)
	},
	data: () => ({
		month: moment().format('M'),
		loading: true
	}),
	methods: {
		onChange (month) {
			this.$emit('change', month)
		},
		onRevision (payload) {
			this.$emit('revision', payload)
		}
	}
}
</script>

<style lang="scss">
.df-order-history{
	.md-card-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.md-field{
			flex: 0 33%;
			.md-select{
				margin-bottom: 0;
			}
		}
	}
}
</style>
