<form
	class="form-elements"
	target="_blank"
	action="/backend/donafruta/corporative/reportresult/detail"
	style="display: flex; align-items: flex-start; flex-flow: row wrap"
>
	<h4 class="w-full">
		Detalhe de Pedidos
	</h4>
	<div class="w-sm m-r-md">
		<?= $this->widget->reportcompany->render() ?>
	</div>
	<div class="w-full">
		<?= $this->widget->reportdate->render() ?>
	</div>

	<div class="w-full">
		<div class="checkbox custom-checkbox">
			<input name="missing-only" value="1" type="checkbox" id="missing-only" />
			<label for="missing-only">Mostrar ausência de pedidos</label>
		</div>
		<input class="btn btn-default" type="submit" value="Filtrar">
	</div>
</form>
