<form
	class="form-elements"
	target="_blank"
	action="/backend/donafruta/corporative/reportresult/financial"
	style="display: flex; align-items: flex-start; flex-flow: row wrap"
>
	<h4 class="w-full">
		Financeiro
	</h4>
	<div class="w-sm m-r-md">
		<?= $this->widget->reportcompany->render() ?>
	</div>
	<div class="w-full">
		<?= $this->widget->reportdate->render() ?>
	</div>
	<div class="w-full">
		<div class="checkbox custom-checkbox">
			<input name="pending-orders" value="1" type="checkbox" id="pending-orders" />
			<label for="pending-orders">Mostrar apenas pagamentos pendentes</label>
		</div>
		<div class="checkbox custom-checkbox">
			<input name="hide-dates" value="1" type="checkbox" id="hide-dates" />
			<label for="hide-dates">Mostrar somente os totais</label>
		</div>
		<input class="btn btn-default" type="submit" value="Filtrar">
	</div>
</form>
