<form
	class="form-elements"
	target="_blank"
	action="/backend/donafruta/corporative/reportresult/management"
	style="display: flex; align-items: flex-start; flex-flow: row wrap"
>
	<h4 class="w-full">
		Gerência de Produtos
	</h4>
	<div class="w-sm">
		<?= $this->widget->reportproducts->render() ?>
	</div>
	<div class="w-full">
		<?= $this->widget->reportdate->render() ?>
	</div>
	<div class="w-full">
		<input class="btn btn-default" type="submit" value="Filtrar">
	</div>
</form>
