<form
	class="form-elements"
	target="_blank"
	action="/backend/donafruta/corporative/reportresult/tags"
	style="display: flex; align-items: flex-start; flex-flow: row wrap"
>
	<h4 class="w-full">
		Etiquetas
	</h4>
	<div class="w-sm m-r-md">
		<div class="report-company">
			<div class="form-group" style="padding: 0;">
				<label>Empresas</label>
			</div>

			<div class="tags-companies__wrapper">
				<div class="tags-companies__buttons">
					<button type="button" class="report-company__on btn btn-primary btn-xs">Marcar todos</button>
					<button type="button" class="report-company__off btn btn-default btn-xs">Desmarcar todos</button>
				</div>

				<div class="tags-companies__box">
					<?php foreach($companies as $company){ ?>
						<div class="checkbox custom-checkbox">
							<input type="checkbox" id="company_<?php echo $company->id; ?>" checked="checked" name="companies[<?php echo $company->id; ?>]" />
							<label for="company_<?php echo $company->id; ?>"><?php echo $company->name; ?></label>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>
	<div class="w-full m-b">
		<div data-control="datepicker" class="report-date__end w-200">
			<input
				type="text"
				class="form-control"
				placeholder="Data"
				data-datepicker
			/>

			<input
				type="hidden"
				name="date"
				value="<?php echo \Carbon\Carbon::now()->format('Y-m-d H:m:s') ?>"
				data-datetime-value
			/>
		</div>
	</div>

	<div class="w-full">
		<div class="radio custom-radio">
			<input name="size" value="small" type="radio" id="size-small" />
			<label for="size-small">Etiquetas Pequenas</label>
		</div>
		<div class="radio custom-radio">
			<input name="size" value="medium" type="radio" id="size-medium" checked="checked" />
			<label for="size-medium">Etiquetas Médias</label>
		</div>
		<div class="radio custom-radio">
			<input name="size" value="large" type="radio" id="size-large" />
			<label for="size-large">Etiquetas Grandes</label>
		</div>
	</div>

	<div class="w-full">
		<input class="btn btn-default" type="submit" value="Filtrar">
	</div>
</form>
