<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title><%= htmlWebpackPlugin.options.title %> – Lanches Corporativos</title>
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
		<link rel="icon" href="/plugins/donafruta/corporative/assets/img/dona-fruta-brand.png" />
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
