<div class="report-company">
	<div class="form-group">
		<label>Empresa</label>
		<select name="company" class="report-company__select form-control custom-select">
			<option selected="selected" value="all">Selecione uma Empresa</option>
            <?php foreach($companies as $company){ ?>
                <option value="<?php echo $company->id; ?>"><?php echo $company->name; ?></option>
            <?php } ?>
		</select>
	</div>

	<?php if ($showUsers): ?>
		<div class="report-company__wrapper">
			<div class="report-company__buttons">
				<button type="button" class="report-company__on btn btn-primary btn-xs">Marcar todos</button>
				<button type="button" class="report-company__off btn btn-default btn-xs">Desmarcar todos</button>
			</div>

			<div class="report-company__box">
				<!-- Users checkboxes are populated dynamically -->
			</div>
		</div>
	<?php endif ?>
</div>
