<template>
	<div class="df-user-list">
		<md-toolbar class="md-primary">
			<div class="md-toolbar-section-start">
				<span class="md-title">
					Funcionários
				</span>
			</div>

			<div class="md-toolbar-section-end">
				<md-field md-theme="warn-light" md-clearable>
					<md-input placeholder="Palavra chave" v-model="search" @input="searchOnTable" />
				</md-field>
			</div>
		</md-toolbar>

		<md-table
			v-model="searched"
			md-sort="name"
			md-sort-order="asc"
			class="df-user-list__table"
			@md-selected="onSelect"
		>
			<md-table-empty-state
				md-label="Nada encontrado"
				:md-description="`Nenhum colaborador encontrado com a palavra-chave '${search}'. Tente utilizar outra combinação ou criar um novo registro:`"
			>
				<md-button class="md-primary md-raised" @click="create">Criar colaborador</md-button>
			</md-table-empty-state>

			<md-table-row class="md-primary" slot="md-table-row" slot-scope="{ item }" md-selectable="single" v-if="item.status == 1 || showBlocked">
				<md-table-cell md-label="ID" md-numeric>{{ item.id }}</md-table-cell>
				<md-table-cell md-label="Nome" md-sort-by="name">{{ item.name }}</md-table-cell>
				<md-table-cell md-label="Email" md-sort-by="email">{{ item.email }}</md-table-cell>
				<md-table-cell md-label="Limite Mensal" md-sort-by="credit">{{ item.credit | money }}</md-table-cell>
				<md-table-cell md-label="Permissão" md-sort-by="permission">{{ item.permission }}</md-table-cell>
				<md-table-cell md-label="Status" md-sort-by="status">{{ item.status == 1 ? 'Ativo' : 'Inativo' }}</md-table-cell>
			</md-table-row>
		</md-table>

		<div class="df-user-list__footer">
			<md-button @click="create" md-theme="warn-light" class="md-fab md-primary">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</div>
</template>

<script>
import store from '@/store'

const toLower = text => {
	return text.toString().toLowerCase()
}

const searchByName = (items, term) => {
	if (term) {
		return items.filter(item => toLower(item.name).includes(toLower(term)))
	}

	return items
}

export default {
	beforeRouteEnter (to, from, next) {
		store.dispatch('user/fetchUsers')
			.then(next)
	},
	computed: {
		users: {
			get () { return this.$store.state.user.users },
			set (value) { this.$store.commit('user/updateUsers', value) }
		}
	},
	data: () => ({
		search: '',
		searched: [],
		showBlocked: true
	}),
	created () {
		this.searched = this.users
	},
	methods: {
		onSelect (item) {
			if (item)
				this.$router.push(`/users/edit/${item.id}`)
		},
		searchOnTable () {
			this.searched = searchByName(this.users, this.search)
		},
		create () {
			this.$router.push('/users/create')
		}
	}
}
</script>

<style lang="scss">
.df-user-list{
	display: flex;
	flex-flow: column;
	height: 100%;
	&__footer{
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		padding: 10px;
		text-align: right;
		.md-button{
			position: relative;
			z-index: 3;
		}
	}
	&__table{
		position: relative;
		z-index: 1;
	}
}
</style>
