<template>
	<form novalidate class="df-user-form" @submit.prevent="onSubmit">
		<md-toolbar class="md-primary">
			<div class="md-toolbar-section-start">
				<span class="md-title">
					{{ method == 'edit' ? 'Editar' : 'Cadastrar' }} Colaborador
				</span>
			</div>

			<div class="md-toolbar-section-end">
				<md-button type="submit">
					{{ method == 'edit' ? 'Editar' : 'Cadastrar' }}
				</md-button>
			</div>
		</md-toolbar>

		<div class="df-user-form__fieldset">
			<div class="md-layout md-gutter">
				<div class="df-user-form__left md-layout-item md-layout md-gutter">
					<div class="df-user-form__name md-layout-item md-size-50">
						<md-field :class="getValidationClass('name')">
							<label>Nome</label>
							<md-input v-model="user.name" @input="$v.user.name.$touch()" :disabled="sending" />
							<span class="md-error" v-if="!$v.user.name.required">Campo obrigatório</span>
							<span class="md-error" v-else-if="!$v.user.name.minLength">Mínimo {{ $v.user.name.$params.minLength.min }} caracteres</span>
						</md-field>
					</div>

					<div class="df-user-form__email md-layout-item md-size-50">
						<md-field :class="getValidationClass('email')">
							<label>Email</label>
							<md-input v-model="user.email" @input="$v.user.email.$touch()" :disabled="sending" />
							<span class="md-error" v-if="!$v.user.email.required">Campo obrigatório</span>
							<span class="md-error" v-else-if="!$v.user.email.email">Digite um email válido</span>
						</md-field>
					</div>

					<div class="md-layout-item md-size-50">
						<md-field class="md-has-value">
							<label>Crédito</label>
							<input class="md-input" v-model.lazy="credit" :disabled="sending" v-money="money" />
						</md-field>
					</div>

					<div class="md-layout-item md-size-50">
						<div class="md-subheading">
							Permissão
						</div>
						<md-radio v-model="user.permission" value="Colaborador" class="md-primary">Colaborador</md-radio>
						<md-radio v-model="user.permission" value="Responsavel" class="md-primary">Responsável</md-radio>
					</div>

					<div class="df-user-form__password md-layout-item md-size-100">
						<div class="md-subheading">
							{{ method == 'edit' ? 'Redefinir' : 'Definir' }} Senha
						</div>
						<div class="md-layout md-gutter">
							<div class="md-layout-item md-size-50">
								<md-field :class="getValidationClass('first', 'password')">
									<label>Nova Senha</label>
									<md-input v-model="password.first" type="password" @input="$v.password.first.$touch()" :disabled="sending" />
									<span class="md-error" v-if="!$v.password.first.required">Campo obrigatório</span>
									<span class="md-error" v-else-if="!$v.password.first.minLength">Mínimo {{ $v.password.first.$params.minLength.min }} caracteres</span>
								</md-field>
							</div>
							<div class="md-layout-item md-size-50">
								<md-field :class="getValidationClass('second', 'password')">
									<label>Confirmar Senha</label>
									<md-input v-model="password.second" type="password" @input="$v.password.second.$touch()" :disabled="sending" />
									<span class="md-error" v-if="!$v.password.second.sameAsPassword">As senhas não conferem</span>
								</md-field>
							</div>
						</div>
					</div>
				</div>

				<div class="df-user-form__right md-layout-item md-layout md-size-35">
					<md-card class="df-user-form__card"
						:class="{
							'md-primary': user.status == 1,
							'md-accent': user.status == 0
						}"
						v-if="method == 'edit'"
					>
						<md-card-header>
							<div class="md-title">
								Detalhes
							</div>
						</md-card-header>

						<md-card-content>
							Criado em <b>{{ user.created_at | date }}</b>.<br />
							Último login em <b>{{ user.created_at | date }}</b>.<br/>
							Atualmente encontra-se <b>{{ user.status == 1 ? 'Ativo' : 'Inativo' }}</b>.<br />
						</md-card-content>

						<md-card-actions>
							<md-button v-if="user.status == 1" @click="toggleStatus" :disabled="sending">
								Bloquear Usuário
							</md-button>

							<md-button v-else @click="toggleStatus" :disabled="sending">
								Reativar Usuário
							</md-button>
						</md-card-actions>
					</md-card>
				</div>

				<df-order-history
					v-if="method == 'edit'"
					:user="user"
					:wallet="wallet"
					:revisions="revisions"
					@change="updateWallet"
					@revision="onRevision"
				>
				</df-order-history>
			</div>
		</div>
	</form>
</template>

<script>
import moment from 'moment'
import store from '@/store'
import OrderHistory from '../order/OrderHistory'
import { validationMixin } from 'vuelidate'
import { required, email, sameAs, minLength } from 'vuelidate/lib/validators'

export default {
	mixins: [validationMixin],
	components: {
		'df-order-history': OrderHistory
	},
	computed: {
		method () {
			return this.$route.meta.method
		},
		credit: {
			get () {
				return parseFloat(this.user.credit)
					.toFixed(2)
					.toString()
					.replace(',', '')
					.replace('.', ',')
			},
			set (value) {
				this.user.credit = value
			}
		}
	},
	beforeRouteEnter (to, from, next) {
		if (to.meta.method == 'edit') {
			Promise.all([
				store.dispatch('user/getUser', { id: to.params.id }),
				store.dispatch('user/getRevisions', { id: to.params.id }),
				store.dispatch('user/getWallet', { id: to.params.id, month: moment().format('M') }),
				store.dispatch('menu/fetchMenu')
			])
				.then(([user, revisions, wallet]) => {
					next(vm => {
						vm.user = Object.assign({}, user)
						vm.revisions = revisions
						vm.wallet = wallet
					})
				}, error => {
					store.commit('logger/error', {
						message: `Usuário com o código ${to.params.id} não encontrado`
					})

					next({ path: '/users' })
				})
		} else {
			next()
		}
	},
	data: () => ({
		user: {
			id: 0,
			name: '',
			email: '',
			permission: 'Colaborador',
			status: 1,
			credit: '0,00'
		},
		wallet: {
			available: 0,
			credit: 0,
			spent: 0,
			month: 1,
			weeks: {
				1: 0,
				2: 0,
				3: 0,
				4: 0,
				5: 0
			}
		},
		password: {
			first: '',
			second: ''
		},
		money: {
			decimal: ',',
			thousands: '.',
			prefix: '',
			precision: 2,
			masked: false
		},
		sending: false,
		revisions: []
	}),
	validations () {
		let rules = {
			user: {
				name: {
					required,
					minLength: minLength(2)
				},
				email: {
					required,
					email
				}
			},
			password: {
				first: {
					minLength: minLength(6)
				},
				second: {
					sameAsPassword: sameAs('first')
				}
			}
		}

		if (this.method == 'create')
			rules.password.first.required = required

		return rules
	},
	methods: {
		getValidationClass (fieldName, group) {
			const field = (group) ? this.$v[group][fieldName] : this.$v.user[fieldName]

			if (field)
				return {
					'md-invalid': field.$invalid && field.$dirty
				}
		},
		getFormated (value) {
			return parseFloat(value)
				.toFixed(2)
				.toString()
				.replace(',', '')
				.replace('.', ',')
		},
		toggleStatus (event) {
			this.sending = true

			this.$store.dispatch('user/toggleBlock', {
				id: this.user.id
			})
				.then(status => {
					this.user.status = status
					this.sending = false
				})
		},
		validate () {
			this.$v.$touch()

			return !this.$v.$invalid
		},
		onSubmit (event) {
			if (this.validate()) {
				this.sending = true

				this.$store.dispatch(this.method == 'edit' ? 'user/updateUser' : 'user/createUser', {
					user: {
						id: this.user.id,
						name: this.user.name,
						email: this.user.email,
						credit: this.user.credit,
						permission: this.user.permission
					},
					password: this.password
				})
					.then(user => {
						this.sending = false
						this.$router.push('/users')
					}, error => this.sending = false)
			}
		},
		updateWallet (month) {
			this.$store.dispatch('user/getWallet', {
				id: this.user.id,
				month: month
			})
				.then(wallet => this.wallet = wallet)
		},
		onRevision (payload) {
			this.$store.dispatch('revision/createRevision', payload)
				.then(revisions => {
					this.revisions = revisions
				}, error => this.$store.commit('logger/error', {
					message: error
				}))
		}
	}
}
</script>

<style lang="scss">
.df-user-form{
	height: 100%;
	display: flex;
	flex-flow: column;
	&__fieldset{
		padding: 20px;
		overflow: auto;
		flex: 1 100%;
		.md-button{
			margin-left: 0;
		}
	}
	&__left{
		padding: 0 !important;
	}
	&__left,
	&__right{
		align-content: flex-start;
	}
	&__card{
		width: 100%;
	}
	.md-toolbar{
		flex-shrink: 0;
	}
	.md-layout{
		align-items: flex-start;
	}
	.md-radio{
		// display: flex;
	}
	.df-order-history{
		width: 100%;
		margin: 40px 16px 16px;
	}
}
</style>
