<div class="order-menu control-list">
	<table class="table data">
		<thead>
			<tr>
				<td>
					<span>Produto</span>
				</td>
				<td>
					<span>Categoria</span>
				</td>
				<td>
					<span>Valor</span>
				</td>
				<td>
					<span>Quantidade</span>
				</td>
			</tr>
		</thead>
		<tbody>
			<?php foreach($products as $mn){ ?>
				<tr>
					<td>
						<?php echo $mn['name']; ?>
					</td>
					<td>
						<?php echo $mn['category']; ?>
					</td>
					<td>
						R$ <?php echo (strlen($mn['value']) <= 3) ? number_format((float)$mn['value'], 2, '.', ',') : $mn['value']; ?>
					</td>
					<td>
						<div class="form-group span-left">
							<input
								type="text"
								name="quant[<?php echo $mn['id']; ?>]"
								value="<?php echo $mn['quant'] ?>"
								class="order-menu__input form-control"
							/>
						</div>
					</td>
				</tr>
			<?php } ?>
		</tbody>
	</table>
</div>
