<div class="company-menu control-list">
	<table class="table data">
		<thead>
			<tr>
				<td>
					<span>Produto</span>
				</td>
				<td>
					<span>Categoria</span>
				</td>
				<td>
					<span>Valor</span>
				</td>
			</tr>
		</thead>
		<tbody>
			<?php foreach($menuProducts as $mn){ ?>
				<tr>
					<td>
						<?php echo $mn['product']['name']; ?>
					</td>
					<td>
						<?php echo $mn['product']['category']['name']; ?>
					</td>
					<td>
						<div class="form-group span-left">
							<input
								type="text"
								name="menu[<?php echo $mn['id']; ?>]"
								value="<?php echo (strlen($mn['diff_value']) <= 3) ? number_format((float)$mn['diff_value'], 2, '.', ',') : $mn['diff_value']; ?>"
								class="form-control"
								data-mask-decimal
							/>
						</div>
					</td>
				</tr>
			<?php } ?>
		</tbody>
	</table>
</div>
