<div class="report-products">
	<div class="form-group">
		<label>Filtrar Categoria</label>
		<select name="category" class="report-products__category form-control custom-select">
			<option value="all" selected="selected">Selecione uma Categoria</option>
            <?php foreach($categories as $category){ ?>
                <option value="<?php echo $category->id; ?>"><?php echo $category->name; ?></option>
            <?php } ?>
		</select>
	</div>

	<div class="report-products__wrapper">
		<div class="report-company__buttons">
			<button type="button" class="report-products__on btn btn-primary btn-xs">Marcar todos</button>
			<button type="button" class="report-products__off btn btn-default btn-xs">Desmarcar todos</button>
		</div>

		<div class="report-products__box">
            <?php foreach($products as $product){ ?>
                <div class="checkbox custom-checkbox" data-category="<?php echo $product->category_id; ?>">
                    <input type="checkbox" id="product_<?php echo $product->id; ?>" name="products[<?php echo $product->id; ?>]" />
                    <label for="product_<?php echo $product->id; ?>"><?php echo $product->name; ?></label>
                </div>
            <?php } ?>	
		</div>
	</div>
</div>
