<template>
	<div class="df-home">
		<div class="md-layout md-gutter">
			<div class="md-layout-item md-size-50">
				<df-menu-widget>
				</df-menu-widget>
			</div>

			<div class="md-layout-item md-size-50">
				<df-order-widget :orders="orders">
				</df-order-widget>
			</div>
		</div>
	</div>
</template>

<script>
import MenuWidget from '../menu/MenuWidget'
import OrderWidget from '../order/OrderWidget'
import store from '@/store'
import { mapGetters } from 'vuex'

export default {
	components: {
		'df-menu-widget': MenuWidget,
		'df-order-widget': OrderWidget
	},
	beforeRouteEnter (to, from, next) {
		store.dispatch('order/fetchDaily')
			.then(next)
	},
	computed: {
		...mapGetters({
			orders: 'order/getDaily'
		})
	}
}
</script>

<style lang="scss">
.df-home{
	padding: 20px;
	.df-menu-widget,
	.df-order-widget{
		height: 400px;
	}
}
</style>
