<template>
	<div class="df-product-preview">
		<div class="df-product-preview__thumbnail"
			:style="{ backgroundImage: `url(${encodeURI(thumbnail)})`}"
		>
		</div>
		<div class="df-product-preview__content">
			<div class="df-product-preview__name md-title">
				{{ name }}
			</div>

			<p>
				{{ description }}
			</p>

			<b>Calorias:</b> {{ calories }}<br/>
			<b>Valor:</b> {{ price | money }}
		</div>
	</div>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			default: ''
		},
		description: {
			type: String,
			default: ''
		},
		calories: {
			type: Number,
			default: 0
		},
		weight: {
			type: Number,
			default: 0
		},
		price: {
			type: String|Number,
			default: 0
		},
		thumbnail: {
			type: String,
			default: ''
		}
	},
	mounted () {
		console.log(this.thumbnail)
	}
}
</script>

<style lang="scss">
.df-product-preview{
	display: flex;
	min-width: 500px;
	&__thumbnail{
		background-size: cover;
		background-position: center;
		flex: 1 45%;
	}
	&__content{
		flex: 1 55%;
		padding: 30px;
	}
	&__name{
	
	}
	&__list{
		padding-left: 15px;
	}
}
</style>
