<div class="report">
	<div class="report-header">
		<img src="/plugins/donafruta/corporative/assets/img/dona-fruta-brand.png" class="report-header__brand">

		<div class="report-header__content">
			<h4 class="report-header__title">
				<?php echo ($missingOnly) ? 'PEDIDOS NÃO REALIZADOS' : 'DETALHAMENTO DE PEDIDOS' ?>
			</h4>

			<ul>
				<li>
					<b>Período:</b> <?php echo $data['filters']['init']; ?> à <?php echo $data['filters']['end']; ?>
				</li>
				<li>
					<b>Empresa</b>: <?php echo $data['company_name']; ?>
				</li>
				<li>
					<b>Emissão em:</b> <?php echo $data['date']; ?>
				</li>
			</ul>
		</div>
	</div>

	<div class="report__body">
		<?php if($missingOnly): ?>
			<table>
				<thead>
					<tr>
						<th style="text-align: left">
							Colaborador
						</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($data['report'] as $colaborador => $company): ?>
						<tr>
							<td style="text-align: left">
								<?php echo $colaborador; ?>
								<?php echo $data['company_name'] == 'Todas' ? ' - ' . $company : '' ?>
							</td>
						</tr>
					<?php endforeach; ?>
				</tbody>
			</table>
		<?php else: ?>
			<?php foreach($data['report'] as $colaborador => $itens): ?>
				<div class="report-group">
					<h4 class="report-group__title">
						<?php echo $colaborador; ?>
					</h4>

					<table>
						<thead>
							<tr>
								<th width="25%">PRODUTO</th>
								<th width="25%">VALOR</th>
								<th width="25%">QUANT.</th>
								<th width="25%">TOTAL</th>
							</tr>
						</thead>
						<?php $total = 0; $quant = 0; ?>
						<?php foreach($itens as $i => $item): ?>
							<?php $price = \DonaFruta\Corporative\Helper::tofloat($item->price); ?>
							<?php $quant += $item->quantity ?>
							<?php $total += $item->quantity * $price ?>
							<tr>
								<td><?php echo $item->product_name; ?></td>
								<td>R$ <?php echo number_format($price, 2, ',', '.'); ?></td>
								<td><?php echo $item->quantity; ?></td>
								<td>R$ <?php echo number_format($item->quantity * $price, 2, ',', '.'); ?></td>
							</tr>

							<?php if ($i == count($itens) - 1): ?>
								<tr class="report__total">
									<td></td>
																	<td><strong>TOTAL:</strong></td>
									<td><b><?php echo $quant ?></b></td>
									<td><b>R$ <?php echo number_format($total, 2, ',', '.') ?></b></td>
								</tr>
							<?php endif ?>
						<?php endforeach; ?>
					</table>
				</div>
			<?php endforeach; ?>
		<?php endif ?>
	</div>
</div>
