<?php function tofloat($num) {
        $dotPos = strrpos($num, '.');
        $commaPos = strrpos($num, ',');
        $sep = (($dotPos > $commaPos) && $dotPos) ? $dotPos :
            ((($commaPos > $dotPos) && $commaPos) ? $commaPos : false);

        if (!$sep) {
            return floatval(preg_replace("/[^0-9]/", "", $num));
        }

        return floatval(
            preg_replace("/[^0-9]/", "", substr($num, 0, $sep)) . '.' .
            preg_replace("/[^0-9]/", "", substr($num, $sep+1, strlen($num)))
        );
    }
?>

<div class="report">
	<div class="report-header">
		<img src="/plugins/donafruta/corporative/assets/img/dona-fruta-brand.png" class="report-header__brand">

		<div class="report-header__content">
			<h3 class="report-header__title">
				Relatório Financeiro
			</h3>

			<ul>
				<li>
					<b>Período:</b> <?php $formatInitDate = explode('-',  $range[0]); echo $formatInitDate[2].'/'.$formatInitDate[1].'/'.$formatInitDate[0]; ?> à <?php $formatEndDate = explode('-',  $range[1]); echo $formatEndDate[2].'/'.$formatEndDate[1].'/'.$formatEndDate[0]; ?>
				</li>
                <li>
					<b>Empresa</b>: <?php echo $company_name; ?>
				</li>
				<li>
					<b>Emissão em:</b> <?php echo $date; ?>
				</li>
			</ul>
		</div>
	</div>

	<div class="report__body">
		<?php if ($company_name == 'Todas'): ?>
			<table>
				<thead>
					<tr>
						<th>Empresa</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<?php $totalResumed = 0; ?>
					<?php foreach($report as $company => $total): ?>
						<tr>
							<td>
								<?php echo $company ?>
							</td>
							<td>
								R$ <?php echo number_format($total, 2, ',', '.') ?>
							</td>
						</tr>
						<?php $totalResumed += $total; ?>
					<?php endforeach ?>
					<tr class="report__total">
						<td></td>
						<td><b>R$ <?php echo number_format($totalResumed, 2, ',', '.') ?></b></td>
					</tr>
				</tbody>
			</table>
		<?php elseif (isset($_GET['hide-dates'])): ?>
        <?php 
              $resumedReport = [];
              $totalResumed = 0;
              foreach($report as $colaborador => $itens):
                    $totalPerDate = 0;
                    foreach($itens as $date => $item):
                        $totalPerDate += $item;
                    endforeach;
                    $resumedReport[$colaborador] = $totalPerDate;
              endforeach;
        ?>
			<table>
				<thead>
					<tr>
						<th>Colaborador</th>
						<th>Total</th>
					</tr>
				</thead>
				<?php $k = 0 ?>
				<?php foreach($resumedReport as $i => $v): ?>
				<tr>
					<td><?php echo $i; ?></td>
					<td><b>R$ <?php echo number_format($v, 2, ',', '.'); ?></b></td>
				</tr>
						<?php $totalResumed += $v; ?>
						<?php if ($k == count($resumedReport) - 1): ?>
							<tr class="report__total">
								<td></td>
								<td><b>R$ <?php echo number_format($totalResumed, 2, ',', '.') ?></b></td>
							</tr>
						<?php endif ?>
						<?php $k++ ?>

					<?php endforeach; ?>
			</table>
        
        <?php else: ?>
        <?php $totalGeral = 0; ?>
        <?php foreach($report as $colaborador => $itens): ?>
			<div class="report-group">
				<h4 class="report-group__title">
					<?php echo $colaborador; ?>
				</h4>
				<table>
					<thead>
						<tr>
							<th>Data</th>
							<th>Total</th>
						</tr>
					</thead>
                    <?php $totalFull = 0; ?>
                    
					<?php foreach($itens as $date => $item): ?>
                    <?php $totalFull += $item; ?>
					<tr>
						<td>
                            <?php $formatedDate = \Carbon\Carbon::createFromFormat('Y-m-d',$date);?>
							<?php echo $formatedDate->day . "/" . $formatedDate->month . "/" . $formatedDate->year; ?>
						</td>
						<td>
							R$ <?php echo number_format($item, 2, ',', '.'); ?>
						</td>
					</tr>
                    <?php endforeach; ?>
					<tr class="report__total">
						<td></td>
						<td>
							<b>R$ <?php echo number_format($totalFull, 2, ',', '.'); ?></b>
						</td>
					</tr>
				</table>
			</div>
        <?php $totalGeral += $totalFull; ?>
        <?php endforeach; ?>
		<?php endif ?>
	</div>
</div>
