<div class="report">
	<div class="report-header">
		<img src="/plugins/donafruta/corporative/assets/img/dona-fruta-brand.png" class="report-header__brand">

		<div class="report-header__content">
			<h3 class="report-header__title">
				Relatório Gerencial Produtos
			</h3>

			<ul>
				<li>
					<b>Período:</b> <?php echo $data['filters']['init']; ?> à <?php echo $data['filters']['end']; ?>
				</li>
				<li>
					<b>Emissão em:</b> <?php echo $data['date']; ?>
				</li>
			</ul>
		</div>
	</div>


	<div class="report__body">
		<?php foreach($data['report'] as $category => $itens): ?>
			<div class="report-group">
				<h4 class="report-group__title">
					<?php echo $category; ?>
				</h4>
				<table>
					<thead>
						<tr>
							<th>Produto</th>
							<th>Valor</th>
							<th>Quant</th>
							<th>Total</th>
						</tr>
					</thead>
					<?php $total = 0; $quant = 0; ?>
					<?php foreach($itens as $i => $item): ?>
						<?php $price = \DonaFruta\Corporative\Helper::tofloat($item->price) ?>
						<?php $quant += $item->quantity ?>
						<?php $total += $item->quantity * $price ?>
						<tr>
							<td><?php echo $item->product_name; ?></td>
							<td>R$ <?php echo number_format($price, 2, ',', '.'); ?></td>
							<td><?php echo $item->quantity; ?></td>
							<td>R$ <?php echo number_format($item->quantity * $price, 2, ',', '.'); ?></td>
						</tr>

						<?php if ($i == count($itens) - 1): ?>
							<tr class="report__total">
								<td></td>
								<td></td>
								<td><b><?php echo $quant ?></b></td>
								<td><b>R$ <?php echo number_format($total, 2, ',', '.') ?></b></td>
							</tr>
						<?php endif ?>
					<?php endforeach; ?>
				</table>
			</div>
		<?php endforeach; ?>
	</div>
</div>
