<div class="report">
	<div class="report-header">
		<img src="/plugins/donafruta/corporative/assets/img/dona-fruta-brand.png" class="report-header__brand">

		<div class="report-header__content">
			<h4 class="report-header__title">
				Pedidos Não Realizados
			</h4>

			<ul>
				<li>
					<b>Período:</b> <?php echo $data['filters']['init']; ?> à <?php echo $data['filters']['end']; ?>
				</li>
				<li>
					<b>Empresa</b>: <?php echo $data['company_name']; ?>
				</li>
				<li>
					<b>Emissão em:</b> <?php echo $data['date']; ?>
				</li>
			</ul>
		</div>
	</div>

	<div class="report__body">
		<table>
			<thead>
				<tr>
					<th>Colaborador</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($data['report'] as $colaborador => $itens): ?>
					<tr>
						<td><?php echo $colaborador; ?></td>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
	</div>
</div>
