<div class="report">
	<div class="report-header">
		<img src="/plugins/donafruta/corporative/assets/img/dona-fruta-brand.png" class="report-header__brand">

		<div class="report-header__content">
			<h4 class="report-header__title">
				Ordem de Preparação
			</h4>

			<ul>
				<li>
					<b>Período:</b> <?php echo $data['filters']['init']; ?> à <?php echo $data['filters']['end']; ?>
				</li>
				<li>
					<b>Emissão em:</b> <?php echo $data['date']; ?>
				</li>
                <?php if($data['company_name'] != ''){ ?>
                <li>
					<b>Empresa:</b> <?php echo $data['company_name']; ?>
				</li>
                <?php } ?>
			</ul>
		</div>
	</div>

	<div class="report__body">
		<table>
			<thead>
				<tr>
					<th>Produto</th>
					<th>Quant.</th>
				</tr>
			</thead>
			<?php $total = 0; $quant = 0; ?>
			<?php foreach ($data['report'] as $i => $report): ?>
				<?php $price = \DonaFruta\Corporative\Helper::tofloat($report->price); ?>
				<?php $quant += $report->total ?>
				<?php $total += $report->total * $price ?>
				<tr>
					<td><?php echo $report->product_name ?></td>
					<td><?php echo $report->total ?></td>
				</tr>

				<?php if ($i == count($data['report']) - 1): ?>
					<tr class="report__total">
                        <td><strong>TOTAL:</strong></td>
						<td><b><?php echo $quant ?></b></td>
					</tr>
				<?php endif ?>
			<?php endforeach ?>
		</table>
	</div>

	<div class="report-footer">
		<div class="report-footer__sign">
			Preparador
		</div>
	</div>
</div>
