<template>
	<div class="df-sidenav-menu">
		<md-subheader>Menu</md-subheader>

		<md-list md-theme="sidenav">
			<md-list-item to="/dashboard">
				<md-icon>dashboard</md-icon>
				<span class="md-list-item-text">Página Inicial</span>
			</md-list-item>

			<md-list-item to="/order/weekly">
				<md-icon>date_range</md-icon>
				<span class="md-list-item-text">Programação de Pedidos</span>
			</md-list-item>

			<md-list-item to="/order/pending" v-if="user.company.tipo_pagamento == 'individual'">
				<md-icon>receipt</md-icon>
				<span class="md-list-item-text">Pagamentos em Aberto</span>
			</md-list-item>

			<md-list-item to="/menu" v-if="user.permission == 'Responsavel'">
				<md-icon>shopping_basket</md-icon>
				<span class="md-list-item-text">Cardápio</span>
			</md-list-item>

			<md-list-item to="/users" v-if="user.permission == 'Responsavel'">
				<md-icon>supervisor_account</md-icon>
				<span class="md-list-item-text">Colaboradores</span>
			</md-list-item>

			<md-list-item to="/settings">
				<md-icon>settings</md-icon>
				<span class="md-list-item-text">Configurações</span>
			</md-list-item>

			<md-list-item @click="logout">
				<md-icon>power_settings_new</md-icon>
				<span class="md-list-item-text">Sair</span>
			</md-list-item>
		</md-list>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	components: {
		//
	},
	computed: {
		...mapGetters({
			user: 'auth/getUser'
		})
	},
	methods: {
		logout (event) {
			// Remove token and redirect
			this.$store.dispatch('auth/logout')
				.then(() => this.$router.push('/'))
		}
	}
}
</script>

<style lang="scss">
.df-sidenav-menu{
	display: flex;
	flex-flow: column;
	flex: 1;
	.md-list{
		margin-bottom: 50px;
		.md-icon{
			transition: .4s ease-out;
		}
		.router-link-active{
			color: $c-accent;
			.md-icon{
				color: $c-accent;
			}
		}
	}
	.df-menu-featured{
		flex: 1;
		margin: 0;
	}
}
</style>
