<template>
	<div class="df-sidenav-header md-elevation-2">
		<div class="df-sidenav-header__brands">
			<md-avatar class="md-large">
				<img :src="brand">
			</md-avatar>

			<md-avatar class="md-large">
				<img :src="company.thumbnail | media">
				<md-tooltip :md-active.sync="tooltipActive">
					{{ company.name }}
				</md-tooltip>
			</md-avatar>
		</div>

		<div class="df-sidenav-header__user-data">
			<span class="df-sidenav-header__name">
				{{ user.name }}
			</span>
			<span class="df-sidenav-header__email">
				{{ user.email }}
			</span>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	computed: {
		...mapGetters({
			user: 'auth/getUser',
			company: 'auth/getCompany'
		}),
		brand () {
			return require(`@/assets/${process.env.COMPANY_BRAND}`)
		}
	},
	data: () => ({
		tooltipActive: false
	}),
	methods: {
		logout (event) {
			// Remove token and redirect
			this.$store.dispatch('auth/logout')
				.then(() => this.$router.push('/'))
		}
	}
}
</script>

<style lang="scss">
.df-sidenav-header{
	background: md-get-palette-color(green, A400);
	color: $c-black;
	padding: 15px;
	position: relative;
	&__brands{
		display: flex;
		justify-content: space-between;
		.md-avatar{
			margin: 0;
		}
	}
	&__user-data{
		margin-top: 20px;
	}
	&__email{
		display: block;
		opacity: 0.6;
	}
	&__name{
		display: block;
		font-size: 16px;
	}
	&__options{
		position: absolute;
		bottom: 15px;
		right: 15px;
		.md-button{
			color: white;
		}
	}
	.md-avatar{
		min-width: 74px;
		min-height: 74px;
	}
}

.md-theme-dark{
	.df-scheduler-header{
		background: map-get(map-get($md-color-levels, dark), background);
		color: white;
	}
}
</style>
