url = "/:all?*"
==
function onStart() {
	$this->addCss('dist/css/app.css');
	$this->addJs('dist/js/manifest.js');
	$this->addJs('dist/js/vendor.js');
	$this->addJs('dist/js/app.js');
}
==
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
		<link rel="icon" href="/plugins/donafruta/corporative/assets/img/dona-fruta-brand.png" />
		<title>Dona Fruta</title>
		{% styles %}
	</head>
	<body>
		<div id="app"></div>
		{% scripts %}
	</body>
</html>

